section.furniture-conditions
  .furniture-conditions__wrapper
    .furniture-conditions__price.furniture-price
      h2.furniture-price__title Цены:
      ul.furniture-price__list
        li.furniture-price__item <p>Рабочий стол</p> <span>от 6500 р.</span>
        li.furniture-price__item <p>Стол в кафе</p>  <span>от 7000 р.</span>
        li.furniture-price__item <p>Барная стойка</p> <span>от 9500 р.</span>
        li.furniture-price__item <p>Барный стул</p> <span>от 4500 р.</span>
        li.furniture-price__item <p>Стойка ресепшен</p> <span>от 19500 р.</span>

    .furniture-conditions__services.furniture-services
      h2.furniture-services__title Сделаем по Вашему проекту или&nbsp;поможем составить свой
      ul.furniture-services__list
        li.furniture-services__item
          p &ndash; замеры
        li.furniture-services__item
          p &ndash; разработка
        li.furniture-services__item
          p &ndash; подбор материала
        li.furniture-services__item
          p &ndash; макеты/образцы
        li.furniture-services__item
          p &ndash; доставка
        li.furniture-services__item
          p &ndash; монтаж
