section.furniture-intro
  .furniture-intro__wrapper
    h1(tabindex="0").furniture-intro__title Делаем надёжную мебель
    p(tabindex="0").furniture-intro__description Изготовление мебели и предметов декора из металла и натурального дерева. Мебель для бизнеса и частных интерьеров.
