.gallery {
  padding-top: 6rem;
  padding-bottom: 7rem;
  background-color: $color_grey;

  &__wrapper {
    @include container();
    display: flex;
    flex-direction: column;
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 4rem;
  }

  &__title {
    margin-right: auto;
  }

  &__description {
    font-family: $font_secondary;
    font-size: 2rem;
    line-height: 3.6rem;
    color: #000000;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: calc(25% - 3rem);
    margin-right: 4rem;
    margin-bottom: 4rem;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  &__link {
    align-self: flex-end;
  }
}

@media(max-width: $desktop-width) {
  .gallery {
    padding-top: 3.5rem;
    padding-bottom: 4rem;

    &__item {
      width: 24%;
      margin-right: calc(4% / 3);
    }
    &__description {
      font-size: 1.4rem;
      line-height: 2.5rem;
    }
  }
}

@media(max-width: $tablet-width) {
  .gallery {
    &__description {
      font-size: 1.2rem;
      line-height: 1.6rem;
    }

    &__item {
      width: 32%;
      margin-right: calc(4% / 3);

      &:nth-child(4n) {
        margin-right: calc(4% / 3);
      }

      &:nth-child(7),
      &:nth-child(8) {
        display: none;
      }
    }
  }
}
