.order {
  padding-top: 5rem;
  padding-bottom: 7rem;
  background-color: $color_grey;

  &__wrapper {
    @include container();
  }

  &__description {
    display: block;
    font-family: $font_secondary;
    font-size: 2.4rem;
    line-height: 3.2rem;
    margin-bottom: 4.2rem;

    text-transform: lowercase;
    color: $color_secondary-black;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
  }

  &__item {
    position: relative;
    width: 50%;
    margin-bottom: 2.5rem;
    padding-right: 1rem;
    padding-left: 5rem;

    &-title {
      font-family: $font_secondary;
      font-weight: bold;
      font-size: 2rem;
      line-height: 3.6rem;
      color: $color_secondary-black;
    }

    &-text {
      font-family: $font_secondary;
      font-size: 1.8rem;
      line-height: 3.2rem;
      color: $color_secondary-black;
    }

    &-icon {
      position: absolute;
      top: 1.1rem;
      left: 0;
    }
  }
}

@media(max-width: $desktop-width) {
  .order {
    padding: 3rem 0;
    &__description {
      font-size: 1.4rem;
      line-height: 1.6rem;
      margin-bottom: 2.5rem;
    }

    &__item {
      &-title {
        font-size: 1.8rem;
        line-height: 2rem;
        margin-bottom: 1rem;
      }

      &-text {
        font-size: 1.6rem;
        line-height: 2.2rem;
      }

      &-icon {
        top: 0.6rem;
        &--door {
          width: 27px;
          height: 21px;
        }
        &--chair {
          width: 22px;
          height: 44px;
        }
        &--office {
          width: 35px;
          height: 30px;
        }
        &--home {
          width: 36px;
          height: 36px;
        }
        &--table {
          width: 30px;
          height: 25px;
        }
      }
    }
  }
}

@media(max-width: $tablet-width) {
  .order {

    &__description {
      margin-bottom: 1.8rem;
    }

    &__list {
      flex-direction: column;
      align-items: center;
    }

    &__item {
      width: 100%;
      padding-left: 3.5rem;

      &-title {
        font-size: 1.6rem;
        line-height: 1.8rem;
      }

      &-text {
        font-size: 1.4rem;
        line-height: 1.6rem;
      }

      &-icon {
        top: 0.6rem;

        &--chair {
          top: 0.3rem;
          width: 20px;
          height: 40px;
        }
        &--office {
          width: 35px;
          height: 25px;
        }
        &--home {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}
