.projects {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: $color_grey;

  &__gallery {
    display: flex;
    flex-wrap: wrap;

    &-container--column-left,
    &-container--column-right {
      display: flex;
      flex-direction: column;

      width: 48%;
    }

    &-container--column-left {
      margin-right: 4%;
    }
  }

  &__item {
    width: 100%;
    height: auto;

    picture {
      height: auto;
    }

    img {
      object-fit: contain;
    }

    &-sm {
      padding: 0 2rem;
    }
  }

  &__wrapper {
    @include container();
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 7rem;
  }

  &__item {
    &-title {
      font-family: $font_secondary;
      font-size: 1.8rem;
      line-height: 2.2rem;
      margin-bottom: 1.5rem;
      color: $color_secondary-black;
    }

    &-description {
      font-family: $font_text;
      font-size: 1.6rem;
      line-height: 2rem;
      margin-bottom: 4rem;
      color: $color_secondary-black;
    }
  }

  .projects__link {
    align-self: flex-end;
    margin-bottom: 4rem;
  }
}

@media(max-width: $desktop-width) {
  .projects {
    padding-top: 4rem;
    padding-bottom: 4rem;

    &__title {
      margin-bottom: 5rem;
    }

    &__item {
      &-title {
        font-size: 1.8rem;
        line-height: 2rem;
        margin-bottom: 0.7rem;
      }

      &-description {
        font-size: 1.6rem;
        line-height: 1.8rem;
      }
    }

    .projects__link {
      margin-bottom: 3rem;
    }
  }
}

@media(max-width: $tablet-width) {
  .projects {
    padding-top: 2rem;
    padding-bottom: 3rem;

    &__title {
      margin-bottom: 3rem;
    }

    &__item {
      &-title {
        font-size: 1.6rem;
        line-height: 1.8rem;
      }

      &-description {
        font-size: 1.4rem;
        line-height: 1.6rem;
        margin-bottom: 1.6rem;
      }
    }

    .projects__link {
      margin-bottom: 1.5rem;
    }
  }
}

@media(max-width: 534px) {
  .projects {
    &__gallery {
      display: flex;

      &-container--column-left,
      &-container--column-right {
          width: 100%;
      }

      &-container--column-left {
        margin-right: 0;
      }
    }

    &__item-sm {
      padding: 0;
    }
  }
}
