.projects {
  padding-top: 6rem;
  padding-bottom: 6rem;

  &__wrapper {
    @include container();
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 7rem;
  }

  &__item {
    &-title {
      font-family: $font_secondary;
      font-size: 1.8rem;
      line-height: 2.2rem;
      margin-bottom: 1.5rem;
      color: $color_secondary-black;
    }

    &-description {
      font-family: $font_text;
      font-size: 1.5rem;
      line-height: 2rem;
      margin-bottom: 4rem;

      color: $color_secondary-black;
    }
  }

  .projects__link {
    align-self: flex-end;
    margin-bottom: 4rem;
  }
}

@media(max-width: $desktop-width) {
  .projects {
    padding-top: 4rem;
    padding-bottom: 4rem;

    &__title {
      margin-bottom: 5rem;
    }

    &__item {
      &-title {
        font-size: 1.4rem;
        line-height: 1.7rem;
        margin-bottom: 0.7rem;
      }

      &-description {
        font-size: 1.1rem;
        line-height: 1.5rem;
      }
    }

    .projects__link {
      margin-bottom: 3rem;
    }
  }
}

@media(max-width: $tablet-width) {
  .projects {
    padding-top: 2rem;
    padding-bottom: 3rem;

    &__title {
      margin-bottom: 3rem;
    }

    &__item {
      &-title {
        font-size: 1.3rem;
        line-height: 1.4rem;
      }

      &-description {
        font-size: 1.2rem;
        line-height: 1.3rem;
        margin-bottom: 1.5rem;
      }
    }

    .projects__link {
      margin-bottom: 1.5rem;
    }
  }
}
