.grid-sizer,
.grid-item {
  width: 48.68%;
  min-height: 450px;
  margin-bottom: 3rem;

  &:nth-child(2n) {
    margin-right: 0;
  }

  img {
    width: 100%;
    height: 350px;
    margin-bottom: 2.5rem;
  }

  &__wrapper {
    height: 100%;
  }

  &--small {
    .grid-item__wrapper {
      width: 80%;
      margin: 0 auto;
    }
  }
}

.grid-item--vertical{
  min-height: 920px;

  img {
    height: 820px;
  }
}

.gutter-sizer {
  width: 2.64%;
}

@media (max-width: $desktop-width) {
  .grid-sizer,
  .grid-item {
    min-height: auto;

    img {
      height: auto;
      margin-bottom: 2rem;
    }
  }

  .grid-item--vertical {
    min-height: auto;

    img {
      height: auto;
    }
  }
}

@media (max-width: $desktop-width) {
  .grid-sizer,
  .grid-item {
    min-height: auto;

    img {
      height: auto;
      margin-bottom: 1.2rem;
    }
  }
}
