.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid-col {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: calc(50% - 1.5rem);

  &--2 {
    align-items: flex-end;
  }

  &--1 {
    margin-right: 3rem;
  }
}

.grid-item {
  display: flex;
  flex-direction: column;
  width: 460px;


      img { // temp
        margin-bottom: 2.5rem;
      }

  &--2 {
    width: 555px;
  }
}

/* 2 columns by default, hide columns 2 & 3 */
.grid-col--4, .grid-col--3 {
  display: none
}
