include ./head

doctype html

block variables
  -
    const title = ""
    const desc = ""

html(lang="ru")
  +head(title, desc)
  link(rel="preconnect" href="//api-maps.yandex.ru/2.1")
  link(rel="dns-prefetch" href="//api-maps.yandex.ru/2.1")

  script(src="https://api-maps.yandex.ru/2.1/?load=package.standard&lang=ru_RU")

  body
    include ../components/loader.pug

    div(style="display:none")
      include ../../img/sprite_auto.svg

    include ../blocks/common_blocks/header

    main#content
      block content

    include ../blocks/common_blocks/footer

    block modals

    block scripts
      script(src="./js/bundle.js")
