include ./head

doctype html

block variables
  -
    const title = ""
    const desc = ""
    const keywords = ""

html(lang="ru")
  +head(title, desc, keywords)
  link(rel="preconnect" href="//api-maps.yandex.ru/2.1")
  link(rel="dns-prefetch" href="//api-maps.yandex.ru/2.1")

  script(src="https://api-maps.yandex.ru/2.1/?load=package.standard&lang=ru_RU")

  body
    include ../components/loader.pug

    div(style="display:none")
      include ../../img/sprite_auto.svg

    include ../blocks/common_blocks/header

    main#content
      block content

    include ../blocks/common_blocks/footer

    block modals

    include ./schema

    block scripts
      script(src="./js/bundle.js")
      <script src="https://www.google.com/recaptcha/api.js?render=6LebQW0aAAAAADcIZ-jF3ou6YR0-txPl0Z5VdrAu"></script>
