mixin head(title, desc)
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(name="description" content=`${desc}`)
    title!= title

    link(rel="preload" href="./fonts/InterReg.woff" as="font" type="font/woff" crossorigin)
    link(rel="preload" href="./fonts/MontserratMed.woff" as="font" type="font/woff" crossorigin)
    link(rel="preload" href="./fonts/MontserratMed.woff2" as="font" type="font/woff2" crossorigin)
    link(rel="preload" href="./fonts/MontserratReg.woff" as="font" type="font/woff" crossorigin)
    link(rel="preload" href="./fonts/MontserratReg.woff2" as="font" type="font/woff2" crossorigin)
    link(rel="shortcut icon" href="./img/favicon.png" type="image/png")
    link(rel="stylesheet" href="./css/style.min.css")
