include ./head

doctype html

block variables
  -
    const title = ""
    const desc = ""
    const keywords = ""

html(lang="ru")
  +head(title, desc, keywords)

  body
    include ../components/loader.pug

    div(style="display:none")
      include ../../img/sprite_auto.svg

    include ../blocks/common_blocks/header

    main
      block content

    include ../blocks/common_blocks/footer

    block modals

    include ./schema

    block scripts
      script(src="./js/bundle.js")
