// Микроразметка для поисковых роботов

.visually-hidden(itemscope itemtype="http://schema.org/Organization" aria-hidden="true")
  b(itemprop="name") Сварочная мастерская Steel Balls

  p(itemprop="description") Производство лофт мебели и перегородок

  img(src="./img/icons/icon-logo.svg")

  a(href="tel: +78122194093" itemprop="telephone") +7 (812) 2194093

  a(href="tel: +79006221818" itemprop="telephone") +7 (900) 6221818

  address(itemprop="address") г. Санкт-Петербург пр. Стачек лит.БД

  a(href="mailto: master@mail.ru" itemprop="email") master@mail.ru
