extends layouts/contacts_layout.pug

block variables
  -
    const title = "CONTACTS title"
    const desc = "CONTACTS desc"

block content
  include ./blocks/contacts_page/contacts-data

block modals
  include ./modals/callback
  include ./modals/success
