extends layouts/main_layout.pug

block variables
  -
    const title = "furniture title"
    const desc = "furniture desc"


block content
  include ./blocks/furniture_page/components/furniture-path
  include ./blocks/furniture_page/furniture-intro
  include ./blocks/furniture_page/furniture-office
  include ./blocks/furniture_page/furniture-bakehouse
  include ./blocks/furniture_page/furniture-restaurant
  include ./blocks/furniture_page/furniture-home
  include ./blocks/furniture_page/furniture-frame
  include ./blocks/furniture_page/furniture-conditions
  include ./blocks/furniture_page/furniture-form

block modals
  include ./modals/callback
  include ./modals/success
  include ./modals/error
