extends layouts/main.pug

block content
  include ./blocks/gallery_page/components/portfolio-path
  include ./blocks/gallery_page/portfolio

block modals
  include ./modals/callback
  include ./modals/success
  include ./modals/error
