extends layouts/main.pug

block content
  include ./blocks/intro
  include ./blocks/partition
  include ./blocks/projects
  include ./blocks/order
  include ./blocks/advantages
  include ./blocks/gallery
  include ./blocks/partnership 
