extends layouts/main_layout.pug

block variables
  -
    const title = "Сварочная мастерская Steel Balls"
    const desc = "Изготовление мебели, перегородки в стиле лофт. Стеллажи, барная мебель, столы лофт в офис."
    const keywords = "Сварка металлоконструкций, сварка, мебель на заказ, мебель в бар, мебель лофт, мебель ручной работы, металлическая мебель, лофт стеллаж, стол лофт, барный стул, стол из массива, перегородки лофт, подстолье купить, подстолье лофт, стальное подстолье, подстолье на заказ, столешница лофт, кухня лофт, зеркало лофт, мебель в кафе, мебель в ресторан, мебель в офис, офисная мебель лофт, офисная мебель"

block content
  include ./blocks/index_page/intro
  include ./blocks/index_page/partition
  include ./blocks/index_page/projects
  include ./blocks/index_page/order
  include ./blocks/index_page/advantages
  include ./blocks/index_page/gallery
  include ./blocks/index_page/partnership

block modals
  include ./modals/callback
  include ./modals/cost
  include ./modals/discuss
  include ./modals/success
  include ./modals/error
