extends layouts/main_layout.pug

block variables
  -
    const title = "index title"
    const desc = "index desc"

block content
  include ./blocks/index_page/intro
  include ./blocks/index_page/partition
  include ./blocks/index_page/projects
  include ./blocks/index_page/order
  include ./blocks/index_page/advantages
  include ./blocks/index_page/gallery
  include ./blocks/index_page/partnership

block modals
  include ./modals/callback
  include ./modals/cost
  include ./modals/discuss
  include ./modals/success
  include ./modals/error
