extends layouts/main.pug

block content
  include ./blocks/partitions_page/components/partitions-path
  include ./blocks/partitions_page/partitions-intro
  include ./blocks/partitions_page/partitions-advantages
  include ./blocks/partitions_page/partitions-options
  include ./blocks/partitions_page/partitions-types
  include ./blocks/partitions_page/partitions-materials
  include ./blocks/partitions_page/partitions-order
  include ./blocks/partitions_page/partitions-form

block modals
  include ./modals/callback
  include ./modals/project
  include ./modals/success
  include ./modals/error
