.advantages__swiper-container {
  position: relative;
  width: 100%;
  height: 475px;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  padding: 0 2rem;

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background: transparent;
    transition: height 0.5s 0.1s ease-out;

    &-prev {
      width: 490px;
      height: 375px;
    }

    &-active {
      width: 570px;
      height: 475px;
    }

    &-next {
      width: 400px;
    }
  }

  .a-swiper-button-next,
  .a-swiper-button-prev {
    position: absolute;
    bottom: 10rem;
    right: 27.5%;
    width: 1.5rem;
    height: 2.4rem;
    content: '';
    cursor: pointer;
    background-image: url("../img/static/slider-arrow.svg");
    background-repeat: no-repeat;
    z-index: 100;
  }

  .a-swiper-button-next {
    right: 17.5%;
    transform: rotate(180deg);
  }

  .swiper-button-disabled {
    cursor: default;
    opacity: 0.5;
  }
}
