section.partitions-intro
  .partitions-intro__wrapper
    h1.partitions-intro__title Современное решение для интерьера
    p.partitions-intro__description Лофт перегородки используются для&nbsp;разделения помещения, визуального увеличения пространства.
