section.partitions-order
  .partitions-order__wrapper
    h2.partitions-order__title Порядок работы

    ul.partitions-order__list
      li.partitions-order__item
        span 01
        p.partitions-order__item-description Выясняем у вас тип перегородки, расстекловку и другие подробности, делаем предварительный расчёт

      li.partitions-order__item
        span 02
        p.partitions-order__item-description Выезжаем на замер с лазерным измерителем длины и уровнем.
      li.partitions-order__item
        span 03
        p.partitions-order__item-description Составляем договор и проект перегородки в АвтоКаде.
      li.partitions-order__item
        span 04
        p.partitions-order__item-description Вы вносите аванс и мы приступаем к производству.
      li.partitions-order__item
        span 05
        p.partitions-order__item-description Доставляем и монтируем перегородку.

    a.partitions-order__link.m-link(href="#") Отправить проект
