section.part_intro
  .part_intro__wrapper
    h1.part_intro__title Современное решение для интерьера
    p.part_intro__description Лофт перегородки используются для&nbsp;разделения помещения, визуального увеличения пространства.
