section.partitions-types
  .partitions-types__wrapper
    h2.partitions-types__title Конструкции перегородок
    p.partitions-types__description В зависимости от задачи мы выбирем один из вариантов:

    ul.partitions-types__list

      li.partitions-types__item
        .partitions-types__item-container
          img.partitions-types__img.partition-types__img--accordeon.lazyload.blur-up(src="img/lqip/partitions_page/part-static@1x.png" data-src="img/static/partitions_page/part-static@1x.png" data-srcset="img/static/partitions_page/part-static@2x.png 2x" width="140" height="144" alt="Вариант статичной перегородки")
          span Статичная

      li.partitions-types__item
        .partitions-types__item-container
          img.partitions-types__img.partition-types__img--accordeon.lazyload.blur-up(src="img/lqip/partitions_page/part-slide@1x.png" data-src="img/static/partitions_page/part-slide@1x.png" data-srcset="img/static/partitions_page/part-slide@2x.png 2x" width="115" height="144" alt="Вариант раздвижной перегородки")
          span Раздвижная

      li.partitions-types__item
        .partitions-types__item-container
          img.partitions-types__img.partition-types__img--accordeon.lazyload.blur-up(src="img/lqip/partitions_page/part-swing@1x.png" data-src="img/static/partitions_page/part-swing@1x.png" data-srcset="img/static/partitions_page/part-swing@2x.png 2x" width="100" height="144" alt="Вариант распашной перегородки")
          span Распашная

      li.partitions-types__item
        .partitions-types__item-container
          img.partitions-types__img.partition-types__img--accordeon.lazyload.blur-up(src="img/lqip/partitions_page/part-accordeon@1x.png" data-src="img/static/partitions_page/part-accordeon@1x.png" data-srcset="img/static/partitions_page/part-accordeon@2x.png 2x" width="168" height="144" alt="Вариант перегородки типа 'гармошка'")
          span Гармошкой
