section.partitions-advantages
  .partitions-advantages__wrapper
    h2(tabindex="0").partitions-advantages__title Преимущества:
    ul(tabindex="0").partitions-advantages__list
      li.partitions-advantages__item Пропускают естественный свет
      li.partitions-advantages__item Разделяют помещение на несколько отдельных зон
      li.partitions-advantages__item Подходят для любого интерьера
      li.partitions-advantages__item Задерживают запахи и влагу
