section.partitions-materials
  .partitions-materials__wrapper
    .partitions-materials__content
      h2(tabindex="0").partitions-materials__title Материалы
      p(tabindex="0").partitions-materials__description При изготовлении перегородок, мы используем стальной профиль 15х15мм, 20х40мм и 40х40мм.

      p(tabindex="0").partitions-materials__description При нестандартных задачах подбираем подходящий профиль под проект.

      p(tabindex="0").partitions-materials__description Используем каленое стекло. Прозрачное, графит, бронзу или матовое. Оно полностью безопасно.

    picture
      source(type="image/webp" srcset="img/lqip/static/part_materials@1x.jpg" data-srcset="img/static/part_materials@1x.webp 1x, img/static/part_materials@2x.webp 2x")
      img.partitions-materials__img.lazyload.blur-up(src="img/lqip/static/part_materials@1x.jpg" data-src="img/static/part_materials@1x.jpg" data-srcset="img/static/part_materials@2x.jpg 2x" alt="Работа над изготовлением перегородки")
