section.part_advantages
  .part_advantages__wrapper
    h2.part_advantages__title Преимущества:
    ul.part_advantages__list
      li.part_advantages__item Пропускают естественный свет
      li.part_advantages__item Разделяют помещение на несколько отдельных зон
      li.part_advantages__item Подходят для любого интерьера
      li.part_advantages__item Задерживают запахи и влагу
