section.part_order
  .part_order__wrapper
    h2.part_order__title Порядок работы

    ul.part_order__list
      li.part_order__item
        span 01
        p.part_order__item-description Выясняем у вас тип перегородки, расстекловку и другие подробности, делаем предварительный расчёт

      li.part_order__item
        span 02
        p.part_order__item-description Выезжаем на замер с лазерным измерителем длины и уровнем.
      li.part_order__item
        span 03
        p.part_order__item-description Составляем договор и проект перегородки в АвтоКаде.
      li.part_order__item
        span 04
        p.part_order__item-description Вы вносите аванс и мы приступаем к производству.
      li.part_order__item
        span 05
        p.part_order__item-description Доставляем и монтируем перегородку.

    a.part_order__link.m-link(href="#") Отправить проект
