section.partitions-intro
  .partitions-intro__wrapper
    h1(tabindex="0").partitions-intro__title Современное решение для интерьера
    p(tabindex="0").partitions-intro__description Лофт перегородки используются для&nbsp;разделения помещения, визуального увеличения пространства.
