section.part_types
  .part_types__wrapper
    h2.part_types__title Конструкции перегородок
    p.part_types__description В зависимости от задачи мы выбирем один из вариантов:

    ul.part_types__list

      li.part_types__item
        .part_types__item-container
          img.part_types__img.part_types__img--accordeon.lazyload.blur-up(src="img/lqip/static/part-static@1x.png" data-src="../img/static/part-static@1x.png" data-srcset="img/static/part-static@2x.png 2x" width="140" height="144" alt="Вариант статичной перегородки")
          span Статичная

      li.part_types__item
        .part_types__item-container
          img.part_types__img.part_types__img--accordeon.lazyload.blur-up(src="img/lqip/static/part-slide@1x.png" data-src="../img/static/part-slide@1x.png" data-srcset="img/static/part-slide@2x.png 2x" width="115" height="144" alt="Вариант раздвижной перегородки")
          span Раздвижная

      li.part_types__item
        .part_types__item-container
          img.part_types__img.part_types__img--accordeon.lazyload.blur-up(src="img/lqip/static/part-swing@1x.png" data-src="../img/static/part-swing@1x.png" data-srcset="img/static/part-swing@2x.png 2x" width="100" height="144" alt="Вариант распашной перегородки")
          span Распашная

      li.part_types__item
        .part_types__item-container
          img.part_types__img.part_types__img--accordeon.lazyload.blur-up(src="img/lqip/static/part-accordeon@1x.png" data-src="../img/static/part-accordeon@1x.png" data-srcset="img/static/part-accordeon@2x.png 2x" width="168" height="144" alt="Вариант перегородки типа 'гармошка'")
          span Гармошкой
