.furniture-office {
  padding-bottom: 10rem;
  &__wrapper {
    @include container()
    display: flex;
    flex-wrap: wrap;
  }

  &__content {
    width: 50%;
    max-width: 58.5rem;
    margin-right: auto;
    padding-right: 1.5rem;
  }

  &__title {
    @include inner_h2();
    margin-bottom: 1rem;
  }

  &__description {
    @include furniture_description();
  }

  &__gallery {
    width: 50%;
    max-width: 55.5rem;
    overflow: hidden;
  }
}

@media(max-width: $desktop-width) {
  .furniture-office {
    &__content {
      width: 40%;
    }

    &__gallery {
      width: 60%;
    }
  }
}

@media(max-width: $tablet-width) {
  .furniture-office {
    padding-bottom: 4.5rem;
    &__wrapper {
      flex-direction: column;
    }

    &__content {
      width: 100%;
      margin-bottom: 2rem;
    }

    &__gallery {
      width: 100%;
      max-width: 100%;
    }
  }
}
