@media(max-width: $desktop-width) {
  .header__navbar.menu-opened {

    .nav {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      width: 100%;
      height: 100vh;
      background-color: $color_black;
      animation: menu_tablet 0.5s ease-in forwards;

      @keyframes menu_tablet {
        0% {
          border-radius: 0 0 0 100%;
          transform: translateY(-100vh) translateX(100vh);
        }

        75% {
          border-radius: 0 0 0 75%;
        }
        100% {
          border-radius: 0;
          transform: translateY(0) translateX(0);
        }
      }

      &__list {
        flex-direction: column;
        justify-content: center;
      }

      &__item {
        margin-bottom: 2.5rem;
      }
    }
  }
}

@media(max-width: $tablet-width) {
  .header__navbar.menu-opened {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding-left: 25%;
    overflow-y: auto;
    background-color: $color_black;
    animation: menu_mobile 0.3s ease-in forwards;

    @keyframes menu_mobile {
      0% {
        transform: translateY(100vh);
      }
      100% {
        transform: translateY(0);
      }
    }

    .header__contacts,
    .header__address,
    .header__callback {
      display: flex;
      width: 100%;
      margin-right: 0;
      margin-bottom: 3rem;
      order: 2;
    }

    .header__callback {
      order: 1;
    }

    .header__address {
      font-family: $font_text;
      font-style: normal;
      font-size: 1.6rem;
      line-height: 1.8rem;
      color: $color_white;
    }

    .nav {
      position: relative;
      height: auto;
      flex-grow: 0;
      background-color: $color_black;
      padding-top: 8rem;
      animation: none;

      &__list {
        width: 100%;
      }

      &__item {
        margin-right: 0;
      }
    }
  }
}
