.portfolio {

  &__wrapper {
    @include container();
  }

  p {
    font-size: 24px;

    @media (max-width: $desktop-width) {
      font-size: 20px;
    }

    @media (max-width: $tablet-width) {
      font-size: 16px;
    }
  }

}

  /*&__title {
    margin-bottom: 5rem;
  }

  &__gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(10, 5vw);
    grid-gap: 1.5rem;
    margin-bottom: 3rem;
  }

  &__item:nth-child(8n + 1) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  &__item:nth-child(8n + 2) {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  &__item:nth-child(8n + 3) {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
  }

  &__item:nth-child(8n + 4) {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
  }

  &__item:nth-child(8n + 5) {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 11;
  }

  &__item:nth-child(8n + 6) {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
  }

  &__item:nth-child(8n + 7) {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 9;
    grid-row-end: 11;
  }

  &__item:nth-child(8n + 8) {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 9;
    grid-row-end: 11;
  }

  &__btn {
    display: flex;
    align-items:center;
    justify-content: center;
    margin-left: auto;
    margin-bottom: 5rem;

    &:disabled {
      opacity: 0.5;
    }
  }
}

@media (max-width: $desktop-width) {

}

@media (max-width: $mobile-width) {

}
*/
