.portfolio {
  padding-bottom: 3rem;

  &__wrapper {
    @include container();
    display: flex;
    flex-direction: column;
  }

  &__gallery {
    display: none;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    margin-bottom: 3rem;
    max-width: 1140px;

    &-item img {
      display: block;
    }

    & li {
      opacity: 0;
    }
  }

  &__gallery--active {
    display: grid;
    & li {
      opacity: 0;
      animation: showGallery 0.6s 0.2s ease-in forwards;
    }
  }

  @keyframes showGallery {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  &__gallery-item {
    transition: opacity 0.6s 0.1s ease;
    &--1 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 6;
    }

    &--2 {
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 3;
      grid-row-end: 6;
    }

    &--3 {
      grid-column-start: 5;
      grid-column-end: 9;
      grid-row-start: 1;
      grid-row-end: 6;
    }

    &--4 {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 3;
    }

    &--5 {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 6;
      grid-row-end: 9;
    }

    &--6 {
      grid-column-start: 4;
      grid-column-end: 6;
      grid-row-start: 6;
      grid-row-end: 9;
    }

    &--7 {
      grid-column-start: 6;
      grid-column-end: 9;
      grid-row-start: 6;
      grid-row-end: 11;
    }

    &--8 {
      grid-column-start: 1;
      grid-column-end: 6;
      grid-row-start: 9;
      grid-row-end: 13;
    }

    &--9 {
      grid-column-start: 6;
      grid-column-end: 9;
      grid-row-start: 11;
      grid-row-end: 13;
    }
  }

  &__btn-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;

    @media (max-width: $tablet-width) {
      margin-left: 0;
      justify-content: center;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    border: 2px solid $color-black;
    cursor: pointer;
    background-color: transparent;
    padding: 1rem 2rem;
  }

  &__btn--prev {
    transform: rotate(180deg);
  }

  &__btn:disabled {
    opacity: 0.5;
  }

  @media (min-width: $tablet-width) {
    &__btn:not(:disabled):hover {
      svg {
        animation: arrowMove 0.6s 0.1s ease-in infinite;
      }
    }
  }

  @keyframes arrowMove {
    0% {
      transform: translateX(0);
    }

    80% {
      transform: translateX(0.5rem);
    }

    90% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(0);
    }
  }

  &__btn:not(:last-child) {
    margin-right: 1rem;
  }

  &__link {
    width: fit-content;
    font-family: $font_secondary;
    font-size: 1.8rem;
    line-height: 2.2rem;
    text-align: center;
    padding: 1rem 2rem;
    border: 2px solid $color-black;
    color: $color-black;
    background-color: transparent;
    transition: all $transition_rules;

    @media (min-width: $tablet-width) {
      &:hover,
      &:focus {
        color: $color_beige;
        background-color: $color_white;
      }
    }

    @media (max-width: $tablet-width) {
      width: 100%;
      margin-top: 3rem;
    }
  }
}
