// desktop-first

@mixin container() {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 30px;

  @media (max-width: $desktop-width) {
    padding: 0 35px;
  }

  @media (max-width: $tablet-width) {
    max-width: $tablet-width;
    min-width: $mobile-sm-width;
    padding: 0 15px;
  }
}

@mixin transition($css_rule) {
  transition: $css_rule $transition_rules;
}

@mixin onHoverAnimation($color, $bkg: inherit) {
  transition: 0.3s;

  &:hover,
  &:focus {
    background-color: $bkg;
    color: $color;
  }

  &:active {
    opacity: 0.7;
  }
}

@mixin onHoverAnimationSvg($color, $bkg: inherit) {
  transition: 0.3s;

  &:hover,
  &:focus {
    background-color: $bkg;
    fill: $color;
  }

  &:active {
    opacity: 0.7;
  }
}

@mixin inner_h1 {
  font-size: 3.6rem;
  font-weight: normal;
  line-height: 5rem;
  text-transform: uppercase;

  @media(max-width: $desktop-width) {
    font-size: 2.4rem;
    line-height: 3.4rem;
  }

  @media(max-width: $desktop-width) {
    font-size: 2.2rem;
    line-height: 2.9rem;
  }
}

@mixin inner_h2 {
  font-size: 2.2rem;
  line-height: 3.6rem;
  text-transform: uppercase;
  padding: 0;
  margin-bottom: 2rem;
  color: $color_black;

  @media(max-width: $desktop-width) {
    font-size: 1.8rem;
    line-height: 3rem;
    margin-bottom: 1.5rem;
  }

  @media(max-width: $desktop-width) {
    font-size: 1.4rem;
    line-height: 2.3rem;
    margin-bottom: 1rem;
  }
}

@mixin furniture_description {
  font-family: $font_text;
  font-size: 1.8rem;
  line-height: 2.8rem;
  margin-bottom: 3rem;
  max-width: 38rem;
  color: $color_black;

  &:last-child {
    margin-bottom: 0;
  }

  @media(max-width: $desktop-width) {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }

  @media(max-width: $tablet-width) {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom: 2.5rem;
  }
}
