// desktop-first

@mixin container() {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 30px;

  @media (max-width: $desktop-width) {
    padding: 0 35px;
  }

  @media (max-width: $tablet-width) {
    max-width: $tablet-width;
    min-width: $mobile-sm-width;
    padding: 0 10px;
  }
}

@mixin transition($css_rule) {
  transition: $css_rule $transition_rules;
}

@mixin onHoverAnimation($color, $bkg: inherit) {
  transition: 0.3s;

  &:hover,
  &:focus {
    background-color: $bkg;
    color: $color;
  }

  &:active {
    opacity: 0.7;
  }
}

@mixin onHoverAnimationSvg($color, $bkg: inherit) {
  transition: 0.3s;

  &:hover,
  &:focus {
    background-color: $bkg;
    fill: $color;
  }

  &:active {
    opacity: 0.7;
  }
}

@mixin partitions_h2 {
  font-size: 2.2rem;
  line-height: 3.6rem;
  text-transform: uppercase;
  color: $color_black;

  @media(max-width: $desktop-width) {
    font-size: 1.8rem;
    line-height: 3rem;
  }

  @media(max-width: $desktop-width) {
    font-size: 1.4rem;
    line-height: 2.3rem;
  }
}
