// desktop-first

@mixin container() {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  padding: 0 150px;

  @media (max-width: $desktop-width) {
    padding: 0 35px;
  }

  @media (max-width: $tablet-width) {
    max-width: $tablet-width;
    min-width: $mobile-sm-width;
    padding: 0 10px;
  }
}

@mixin transition($css_rule) {
  transition: $css_rule $transition_rules;
}

@mixin onHoverAnimation($color, $bkg: inherit) {
  transition: 0.3s;

  &:hover,
  &:focus {
    background-color: $bkg;
    color: $color;
  }

  &:active {
    opacity: 0.7;
  }
}


@mixin onHoverAnimationSvg($color, $bkg: inherit) {
  transition: 0.3s;

  &:hover,
  &:focus {
    background-color: $bkg;
    fill: $color;
  }

  &:active {
    opacity: 0.7;
  }
}
