@import "fonts";
@import "normalize";
@import "variables";
@import "mixins";
@import "global";

//--- plugins

@import "plugins/swiper.scss";
@import "plugins/aos.scss";

// lazyload

@import "plugins/lazyload.scss";

//--- components

// m === main , s === secondary, t === transparent
@import "components/loader";
@import "components/toggle";
@import "components/m-link";
@import "components/s-link";
@import "components/t-link";
@import "components/m-btn";
@import "components/s-btn";
@import "components/path";
//@import "components/form";
@import "components/map";

// sliders

@import "sliders/index_page/partnership-slider";
@import "sliders/index_page/advantages-slider";
@import "sliders/partitions_page/partitions-slider";
@import "sliders/furniture_page/furniture-slider";

// masonry_layout

@import "masonry/projects-masonry-layout.scss";

//--- common blocks

@import "blocks/common_blocks/header";
@import "blocks/common_blocks/nav";
@import "blocks/common_blocks/social";
@import "blocks/common_blocks/footer";

//-- index_page

@import "blocks/index_page/intro";
@import "blocks/index_page/partition";
@import "blocks/index_page/projects";
@import "blocks/index_page/order";
@import "blocks/index_page/advantages";
@import "blocks/index_page/gallery";
@import "blocks/index_page/partnership";

//-- partitions_page

@import "blocks/partitions_page/partitions-intro";
@import "blocks/partitions_page/partitions-advantages";
@import "blocks/partitions_page/partitions-options";
@import "blocks/partitions_page/partitions-types";
@import "blocks/partitions_page/partitions-materials";
@import "blocks/partitions_page/partitions-order";
@import "blocks/partitions_page/partitions-form";

//-- furniture_page

@import "blocks/furniture_page/furniture-intro";
@import "blocks/furniture_page/furniture-office";
@import "blocks/furniture_page/furniture-bakehouse";
@import "blocks/furniture_page/furniture-restaurant";
@import "blocks/furniture_page/furniture-home";
@import "blocks/furniture_page/furniture-frame";
@import "blocks/furniture_page/furniture-conditions";
@import "blocks/furniture_page/furniture-conditions_blocks/furniture-price";
@import "blocks/furniture_page/furniture-conditions_blocks/furniture-services";
@import "blocks/furniture_page/furniture-form";

//-- contacts_page

@import "blocks/contacts";

// forms

@import "blocks/forms/callback-form";

// modals

@import "modals/modal";
