@import "fonts";
@import "normalize";
@import "variables";
@import "mixins";
@import "global";

//--- plugins

@import "plugins/swiper.scss";
@import "plugins/aos.scss";

// lazyload

@import "plugins/lazyload.scss";

//--- components

// m === main , s === secondary, t === transparent
@import "components/loader";
@import "components/m-link";
@import "components/s-link";
@import "components/t-link";
@import "components/m-btn";
@import "components/s-btn";
@import "components/path";
@import "components/form";
@import "components/map";

// sliders

@import "sliders/partnership-slider";
@import "sliders/advantages-slider";
@import "masonry/projects-masonry-layout.scss";

//--- blocks
@import "blocks/header";
@import "blocks/nav";
@import "blocks/intro";
@import "blocks/social";
@import "blocks/partition";
@import "blocks/projects";
@import "blocks/order";
@import "blocks/advantages";
@import "blocks/gallery";
@import "blocks/partnership";

//-- LOFT

@import "blocks/loft";
@import "blocks/loft_blocks/loft-advantages";
@import "blocks/loft_blocks/loft-zoning";
@import "blocks/loft_blocks/loft-construction";
@import "blocks/loft_blocks/loft-materials";
@import "blocks/loft_blocks/loft-conditions";
//-- CONTACTS
@import "blocks/contacts";

@import "blocks/footer";

// popups

@import "modals/modal";
