@import "fonts";
@import "normalize";
@import "variables";
@import "mixins";
@import "global";

//--- plugins

@import "plugins/swiper.scss";

//--- components

// m === main , s === secondary, t === transparent

@import "components/m-link";
@import "components/s-link";
@import "components/t-link";
@import "components/m-btn";
@import "components/s-btn";

// sliders

@import "sliders/partnership-slider";
@import "sliders/advantages-slider";
//--- blocks

@import "blocks/header";
@import "blocks/nav";
@import "blocks/social";
@import "blocks/partition";
@import "blocks/projects";
@import "blocks/order";
@import "blocks/advantages";
@import "blocks/gallery";
@import "blocks/partnership";
@import "blocks/footer";
