//fonts

$font_primary: 'RussoOne_Reg';
$font_secondary: 'Montserrat_Med';
$font_text: 'Montserrat_Reg';

// work

$outline: 1px solid red;

// animation

$transition_rules: 0.3s ease;

// widths

$desktop-width: 1199px;
$tablet-width: 767px;
$mobile-width: 434px;
$mobile-sm-width: 320px;

$min-width: $mobile-width;
$max-width: $desktop-width;

// colors

$color_black: #1C1C1C;
$color_secondary-black: #262322;

$color_white: #ffffff;
$header_background: rgb(28, 28, 28);
//$color_beige: #D4B07A;
$color_beige: #724b0f;

$color_grey: #f8f8f8;
$color_footer-bcg: #4a4a4a;
$color_path: #262322;
$fill_svg: #f1f1f1;
$color_placeholder: #5b5b5b;
$color_invalid: #ff4747;

// links

$main_link: #d9c09a;
$callback_link: #efc07a;

// components

$nav_link: #524848;
$nav_border: #eee;
$nav_link--active: #000000;
$nav_link--focus: #6d5555;
$nav_link--border: #524848;
$color_scroll-bg: #4a4a4a;

// retina

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
