.partitions-swiper-container.blur {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  transition: filter 0.4s, -webkit-filter 400ms;
}

.partitions-swiper-container {
  position: relative;
  width: 100%;
  height: 50rem;
  overflow: hidden;
  padding-bottom: 4rem;

  .swiper-slide {
    width: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-pagination-progressbar {
    width: 75%;
    height: 2px;
    top: auto;
    bottom: 0.8rem;

    &-fill {
      background-color: $color_black;
    }
  }

  .part-swiper-button-next,
  .part-swiper-button-prev {
    position: absolute;
    bottom: 0;
    right: 15%;
    width: 10%;
    height: 2rem;
    max-width: 5.2rem;
    //height: 0.8rem;
    margin-bottom: 0.5rem;
    content: '';
    cursor: pointer;
    background-image: url("../img/static/furniture-slider-arrow.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    z-index: 100;
  }

  .part-swiper-button-next {
    right: 5%;
    transform: rotate(180deg);
    background-position: top;
  }

  .swiper-button-disabled {
    cursor: default;
    opacity: 0.5;
  }
}

@media(max-width: $desktop-width) {
  .partitions-swiper-container {
    height: 36rem;

    .swiper-slide {
      img {
        width: auto;
      }
    }
  }
}

@media(max-width: $tablet-width) {
  .partitions-swiper-container {
    height: 23rem;

    .swiper-pagination-progressbar {
      width: 100%;
    }

    .part-swiper-button-next,
    .part-swiper-button-prev {
      display: none;
    }
  }
}
