.loft-conditions {
  padding-top: 12rem;
  padding-bottom: 5rem;

  &__wrapper {
    @include container();
  }

  &__title {
    margin-bottom: 3rem;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
  }

  &__pricing {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    max-width: 350px;
    //outline: $outline;
  }

  &__list {
    max-width: 500px;
    margin-right: 17rem; // неправильно, переделать . нужна резина
    //outline: $outline;
  }

  &__item {
    font-family: $font-text;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: $color_black;
  }

  &__price,
  &__time {
    display: flex;
    flex-wrap: wrap;
    font-family: $font_secondary;
    font-size: 2rem;
    line-height: 2.7rem;
    color: $color_black;

    span {
      display: flex;
      font-family: $font_primary;
      margin-left: auto;
      padding-left: 1.5rem;
    }
  }
}
