.developer {
  display: flex;
  flex-wrap: wrap;
  max-width: 33rem;

  span {
    font-family: $font_secondary;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-right: 1rem;

    color: $color_white;
  }

  a {
    font-family: $font_secondary;
    font-size: 1.5rem;
    line-height: 2rem;

    color: $color_easy-beige;

    @include transition(color);

    @media(min-width: $tablet-width) {
      &:hover ,
      &:focus {
        color: $color_white;
      }

      &:active{
        @include transition(opacity);
        opacity: 0.7;
      }
    }
  }
}
