.developer {

  span {
    font-family: $font_secondary;
    font-size: 1.5rem;
    line-height: 2rem;

    color: $color_white;

    a {
      font-family: $font_secondary;
      font-size: 1.5rem;
      line-height: 2rem;

      color: #d4b07a;

      @media(min-width: $tablet-width) {
        &:hover ,
        &:focus {
          @include transition(color);
          color: $color_white;
        }

        &:active{
          @include transition(opacity);
          opacity: 0.7;
        }
      }
    }
  }
}
