.m-btn {
  width: 21rem;
  min-height: 4.8rem;
  font-family: $font_secondary;
  font-size: 1.6rem;
  line-height: 2rem;
  border: 3px solid transparent;
  padding: 0;
  cursor: pointer;
  color: $color_white;
  background-color: $color_beige;

  transition: background-color $transition_rules, border-color $transition_rules ;

  @media(max-width: $desktop-width) {
    width: 15rem;
    min-height: 3.2rem;
    font-size: 1.4rem;
  }

  @media(max-width: $desktop-width) {
    line-height: 1.8rem;
  }
}

@media(min-width: $tablet-width) {
  .m-btn {
    &:hover,
    &:focus {
      background-color: $color_btn-hover;
      border-color: $color_beige;
    }

    &:active {
      transition: opacity $transition_rules;
      opacity: 0.7;
    }
  }
}
