.m-link {
  display: flex;
  align-items: center;
  min-width: 275px;
  width: fit-content;
  min-height: 50px;
  font-family: $font_secondary;
  font-size: 1.8rem;
  line-height: 3.2rem;
  padding: 0 3.5rem;


  text-transform: lowercase;
  background-color: $color_beige;
  color: $color_white;

  svg {
    transition: transform 0.3s 0.1 infinite;
    margin-left: 3rem;
  }

  @media(min-width: $tablet-width) {
    &:hover {
      svg {
        animation: arrow_move 0.5s 0.1s ease-in infinite;
      }
    }
  }
}

@keyframes arrow_move {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-1rem);
  }
}

@media(max-width: $desktop-width) {
  .m-link {
    font-size: 1.4rem;
    line-height: 2.5rem;
    min-width: 190px;
    min-height: 4rem;
    padding: 0 1.5rem;
  }
}

@media(max-width: $tablet-width) {
  .m-link {
    min-height: 2.7rem;
    font-size: 1rem;
    line-height: 1.8rem;
    min-width: 135px;

    svg {
      //display: none;
    }
  }
}
