.map {
  min-height: 325px;
  padding-bottom: 3rem;

  &__wrapper {
    display: flex;
    flex-direction: column;
    min-height: inherit;
  }

  &__content {
    min-height: 325px;
    background-image: url("../img/static/map@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 8.5rem;
    margin-top: auto;
    background-color: $color_black;

    &-link {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      font-family: $font_secondary;
      font-size: 1.4rem;
      line-height: 1.7rem;
      color: $color_white;

      @media(min-width: $tablet-width) {
        &:hover,
        &:focus {
          @include transition(color);
          color: $color_beige;
        }

        &:active{
          @include transition(opacity);
          opacity: 0.7;
        }
      }
    }

    svg {
      fill: transparent;
      margin-right: 1rem;
    }
  }

  .ymaps-2-1-77-balloon__close-button {
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }

  &__placemark {
    &-description {
      font-family: $font_secondary;
      font-size: 1.3rem;
      line-height: 1.6rem;
      color: #505050;
    }
  }
}
