.path {
  @include container();
  display: block;
  font-family: $font_text;
  font-size: 1.6rem;
  line-height: 2.2rem;
  padding-top: 2.5rem;
  margin-bottom: 4rem;
  color: $color_path;
}

@media(max-width: $desktop-width) {
  .path {
    font-size: 1.4rem;
    line-height: 1.6rem;
    padding-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
