.path {
  @include container();
  display: block;
  font-family: $font_text;
  font-size: 1.6rem;
  line-height: 2.2rem;
  padding-top: 2.5rem;
  margin-bottom: 4rem;
  color: $color_path;

  a {
    color: $color_path;

    @media(min-width: $tablet-width) {
      &:hover,
      &:focus {
        transition: color $transition_rules;
        color: $color_beige;
      }

      &:active {
        transition: opacity $transition_rules;
        opacity: 0.7;
      }
    }
  }
}

@media(max-width: $desktop-width) {
  .path {
    font-size: 1.4rem;
    line-height: 1.6rem;
    padding-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
