.s-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font_secondary;
  font-size: 1.6rem;
  line-height: 2.9rem;
  width: 235px;
  min-height: 50px;
//  width: fit-content;
  padding: 0 0.4rem;
  text-align: center;
  border: 2px solid transparent;
  background-color: $color_beige;
  color: $color_white;
}

@media(max-width: $desktop-width) {
  .s-link {
    width: 215px;
    min-height: 44px;
    font-size: 1.3rem;
    line-height: 2.3rem
  }
}

@media(max-width: $tablet-width) {
  .s-link {
    width: 145px;
    min-height: 32px;
    font-size: 0.9rem;
    line-height: 1.6rem
  }
}
