.t-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font_secondary;
  font-size: 1.6rem;
  line-height: 2.9rem;
  width: 225px;
  min-height: 50px;
  text-align: center;
  padding: 0 0.4rem;
  border: 3px solid $color_white;
  background-color: transparent;
  color: $color_white;
}

@media(max-width: $desktop-width) {
  .t-link {
    width: 200px;
    min-height: 44px;
    font-size: 1.3rem;
    line-height: 2.3rem;
    margin-bottom: 1.5rem;
  }
}

@media(max-width: $tablet-width) {
  /*.t-link {
    width: 145px;
    min-height: 32px;
    font-size: 0.9rem;
    line-height: 1.6rem
  }*/
}
