.t-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font_secondary;
  font-size: 1.6rem;
  line-height: 2.9rem;
  width: 225px;
  min-height: 50px;
  text-align: center;
  padding: 0 0.4rem;
  border: 3px solid $color_white;
  background-color: transparent;
  color: $color_white;
}

@media(max-width: $desktop-width) {
  .t-link {
    width: 200px;
    min-height: 44px;
    font-size: 1.3rem;
    line-height: 2.3rem;
    margin-bottom: 1.5rem;
  }
}

@media(min-width: $tablet-width) {
  .t-link {
    &:hover,
    &:focus {
      transition: background-color $transition_rules, border-color $transition_rules ;
      background-color: $color_btn-hover;
      border-color: $color_beige;
    }

    &:active {
      transition: opacity $transition_rules;
      opacity: 0.7;
    }
  }
}
