.t-link {
  font-family: $font_secondary;
  font-size: 1.6rem;
  line-height: 2.9rem;
  width: 225px;
  padding: 0.9rem 1rem;
  text-align: center;
  border: 2px solid $color_white;
  background-color: transparent;
  color: $color_white;
}
