.toggle {
  display: none;
}


@media(max-width: $desktop-width) {
  .toggle {
    width: 3.8rem;
    height: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 3.5rem;
    cursor: pointer;

    &__line {
      width: 100%;
      height: 0.3rem;
      background-color: $color_white;

      &:first-child {
        width: 80%;
        align-self: flex-end;
      }
    }
  }
}
