.furniture-price {
  width: 57%;
  display: flex;
  flex-direction: column;

  &__title {
    @include inner_h2();
    margin-bottom: 4rem;
  }

  &__list {
    max-width: 40rem;
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    font-family: $font_text;
    font-size: 1.8rem;
    line-height: 2.2rem;
    margin-bottom: 0.5rem;
    color: $color_black;

    &:last-child {
      margin-bottom: 0;
    }

    p {
      margin-right: auto;
    }

    span {
      font-family: $font_primary;
      min-width: 14.5rem;
      text-align: left;
    }
  }
}

@media(max-width: $desktop-width) {
  .furniture-price {
    justify-content: space-between;
    &__item {
      font-size: 1.6rem;
      line-height: 2rem;
    }
  }
}

@media(max-width: $tablet-width) {
  .furniture-price {
    width: 50%;
    min-width: 280px;

    &__list {
      margin-bottom: 2.5rem;
    }

    &__item {
      font-size: 1.4rem;
      line-height: 1.8rem;

      span {
        min-width: 10.5rem;
      }
    }
  }
}
