header.header
  .header__wrapper
    .header__logo
       a(href="index.html" aria-label="Обновить страницу")
         svg(width="130" height="22")
           use(xlink:href="#icon-logo")
         span.header__city Санкт-Петербург
    .header__navbar
      include ./nav

      .header__contacts
        a(href="tel:+79006221818" aria-label="Мобильный номер телефона для связи: +79006221818").header__contacts-phone +7 (900) 622-18-18
        a(href="tel:+78122194093" aria-label="Городской номер телефона для связи: +78122194093").header__contacts-phone +7 (812) 219-40-93

      a(href="#" data-id="modal-callback").header__callback.modal-link заказать звонок

    // burger
    include ../../components/toggle
