nav.nav
  ul.nav__list
    li.nav__item
      a(href="partitions.html").nav__link Лофт перегородки
    li.nav__item
      a(href="furniture.html").nav__link Мебель лофт
    li.nav__item
      a(href="contacts.html").nav__link Контакты
    li.nav__item.nav__item--mobile
      a(href="tel:+79006221818" aria-label="Мобильный номер телефона для связи: +79006221818").nav__link.nav__link--phone +7 (900) 622-18-18
    li.nav__item.nav__item--mobile
      a(href="tel:+78122194093" aria-label="Городской номер телефона для связи: +78122194093").nav__link.nav__link--phone +7 (812) 219-40-93
    li.nav__item.nav__item--mobile
      a(href="#" data-id="modal-callback").nav__link.nav__link--callback.modal-link заказать звонок
    li.nav__item.nav__item--mobile
      address г. Санкт-Петербург </br> пр.&nbsp;Стачек&nbsp;47,&nbsp;лит.БД
