.social
  ul.social__list
    li.social__item
      a(href="#" aria-label="Вконтакте")
        svg(width="30" height="30")
          use(xlink:href="#icon-vk")
    li.social__item
      a(href="#" aria-label="Telegramm")
        svg(width="30" height="30")
          use(xlink:href="#icon-tg")
    li.social__item
      a(href="#" aria-label="Instagram")
        svg(width="30" height="30")
          use(xlink:href="#icon-insta")
    li.social__item
      a(href="#" aria-label="Whatsapp")
        svg(width="30" height="30")
          use(xlink:href="#icon-whatsapp")
