.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100000000;

  &.closed {
    display: none;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 2rem;
    top: 50%;
    left: 50%;
    width: 100%;
    min-height: 250px;
    max-height: 100%;
    overflow-y: auto;
    max-width: 60rem;
    background-color: $color_white;
    transform: translate(-50%, -50%);

    animation: showModal 0.7s forwards;
  }

  &__title {
    font-size: 2.4rem;
    line-height: 3.3rem;
    margin-bottom: 1rem;
    color: $color_black;
  }

  &__description {
    font-family: $font_secondary;
    font-size: 1.6rem;
    line-height: 1.8rem;
    margin-bottom: 4rem;
    max-width: 35rem;
    color: $color_black;
  }

  &__close {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 3.6rem;
    height: 3.6rem;
    border: none;
    padding: 0;
    margin: 0;
    margin-left: auto;
    cursor: pointer;
    background-color: transparent;
  }
}

@keyframes showModal {
  0% {
    transform: translate(0%, -50%) ;
  }

  100% {
    transform: translate(-50%, -50%);
  }
}

@media(max-width: $desktop-width) {
  .modal {
    &__title {
      font-size: 2.2rem;
      line-height: 2.8rem;
    }
  }
}

@media(max-width: $tablet-width) {
  .modal {
    &__title {
      font-size: 2rem;
      line-height: 2.7rem;
      margin-bottom: 2rem;
    }

    &__description {
      margin-bottom: 1rem;
    }
  }
}
