form(action="#" method="#").callback-page-form
  fieldset.callback-page-form__fields
    label(for="callback-page-form-name").visually-hidden Ваше имя
    input(type="text" id="callback-page-form-name" placeholder="Ваше имя")

    label(for="callback-page-form-phone").visually-hidden Телефон
    input(type="tel" id="callback-page-form-phone" placeholder="Телефон")

  button(type="submit").callback-page-form__btn.m-btn Обсудить проект
  span.callback-page-form__alert Нажимая кнопку, вы даете согласие на обработку своих персональных данных.
