form(action="#" method="#").callback-form
  fieldset.callback-form__fields
    label(for="name").visually-hidden Ваше имя
    input(type="text" id="callback-name" placeholder="Ваше имя")

    label(for="phone").visually-hidden Телефон
    input(type="phone" id="callback-phone" placeholder="Телефон")

  button(type="submit").callback-form__btn.m-btn Обсудить проект
  span.callback-form__alert Нажимая кнопку, вы даете согласие на обработку своих персональных данных.
