form(action="#" method="#").cost-modal-form.modal-form
  fieldset.modal-form__fields
    label(for="cost-modal-form-name").visually-hidden Ваше имя
    input(type="text" id="cost-modal-form-name" placeholder="Ваше имя")

    label(for="cost-modal-form-phone").visually-hidden Телефон
    input(type="tel" id="cost-modal-form-phone" placeholder="Телефон")

    label(for="cost-modal-form-file").modal-form__file
      span.modal-form__file-text Прикрепите файл
    input(type="file" id="cost-modal-form-file" placeholder="Прикрепите файл").visually-hidden.modal-form__file-upload

  button(type="submit").modal-form__btn.m-btn Обсудить проект
  span.modal-form__alert Нажимая кнопку, вы даете согласие на обработку своих персональных данных.
