form(action="https://formspree.io/mrgydwnv" method="POST" enctype="multipart/form-data").cost-modal-form.form
  fieldset.form__group
    label(for="cost-modal-form-name").visually-hidden Ваше имя
    input(type="text" id="cost-modal-form-name" name="Имя пользователя" placeholder="Ваше имя")

  fieldset.form__group.form__group--phone
    label(for="cost-modal-form-phone").visually-hidden Телефон
    input(type="tel" id="cost-modal-form-phone" name="Телефон для связи" placeholder="Телефон")
    span.invalid-field-msg Введите корректный номер телефона

  fieldset.form__group
    label(for="cost-modal-form-file").form__file
      span.form__file-text Прикрепите файл
    input(type="file" id="cost-modal-form-file" name="Прикрепленный файл").visually-hidden.form__file-upload

  button(type="submit").form__btn.submit-btn.m-btn Обсудить проект
  span.form__alert Нажимая кнопку, вы даете согласие на обработку своих персональных данных.
