form(action="php/mail.php" method="POST" enctype="multipart/form-data").project-modal-form.form
  fieldset.form__group
    label(for="project-modal-form-name").visually-hidden Ваше имя
    input(type="text" id="project-modal-form-name" name="user_name" placeholder="Ваше имя")

  fieldset.form__group.form__group--phone
    label(for="project-modal-form-phone").visually-hidden Телефон
    input(type="tel" id="project-modal-form-phone" name="user_phone" placeholder="Телефон")
    span.invalid-field-msg Введите корректный номер телефона

  fieldset.form__group
    label(for="project-modal-form-file" tabindex="0").form__file
      span.form__file-text Прикрепите файл
    input(type="file" id="project-modal-form-file" name="user_file[]" tabindex="-1").visually-hidden.form__file-upload

  button(type="submit").form__btn.submit-btn.m-btn Обсудить проект
  span(tabindex="0").form__alert Нажимая кнопку, вы даете согласие на обработку своих персональных данных.
