form(action="#" method="#").project-modal-form.form
  fieldset.form__group
    label(for="project-modal-form-name").visually-hidden Ваше имя
    input(type="text" id="project-modal-form-name" placeholder="Ваше имя")

  fieldset.form__group.form__group--phone
    label(for="project-modal-form-phone").visually-hidden Телефон
    input(type="tel" id="project-modal-form-phone" placeholder="Телефон")
    span.invalid-field-msg Введите корректный номер телефона

  fieldset.form__group
    label(for="project-modal-form-file").form__file
      span.modal-form__file-text Прикрепите файл
    input(type="file" id="project-modal-form-file" placeholder="Прикрепите файл").visually-hidden.modal-form__file-upload

  button(type="submit").form__btn.submit-btn.m-btn Обсудить проект
  span.form__alert Нажимая кнопку, вы даете согласие на обработку своих персональных данных.
