form.contacts-form(action="#" enctype="text/plain" method="POST")
  .contacts-form__wrapper
    label(for="phone") Ваш номер телефона
    input(type="tel" name="phone" placeholder="Телефон")#phone
    label(for="question") Ваш вопрос
    textarea(placeholder="Введите ваш вопрос")#question

    .contacts-form__submit
      input.contacts-form__submit-btn(type="submit" value="Отправить мой вопрос")
      p.contacts-form__submit-text Нажимая кнопку, вы даете согласие на обработку своих персональных данных
