form.question-page-form(action="https://formspree.io/mrgydwnv" method="POST" enctype="text/plain").question-page-form.form

  .question-page-form__wrapper
    fieldset.form__group.form__group--phone
      label(for="question-phone").visually-hidden Ваш номер телефона
      input(type="tel" id="question-phone" name="Телефон для связи" placeholder="Телефон")
      span.invalid-field-msg Введите корректный номер телефона

    fieldset.form__group
      label(for="question-text").visually-hidden Ваш вопрос
      textarea(id="question-text" name="Текст сообщения" placeholder="Введите ваш вопрос")

  button(type="submit").form__btn.submit-btn.m-btn Отправить вопрос
  span(tabindex="0").form__alert Нажимая кнопку, вы даете согласие на обработку своих персональных данных
