section.contacts
  span.contacts__path.path ГЛАВНАЯ/КОНТАКТЫ
  .contacts__wrapper
    .contacts__content
      h2.visually-hidden Контакты и расположение компании steel balls


    // переделать структуру
    .contacts__map
      include ./map

      p.contacts__description Если у вас остались вопросы, задайте их в форме ниже.

      .contacts__form
        include ./forms/questionForm
