header.header
  .header__wrapper
    .header__content
      .header__logo
         a(href="index.html")
           svg(width="122" height="22")
             use(xlink:href="#icon-logo")
           span.header__city Санкт-Петербург

      include ./nav

      .header__contacts
        a(href="tel:+79006221818").header__contacts-phone +7 (900) 622-18-18
        a(href="tel:+78122194093").header__contacts-phone +7 (812) 219-40-93

      a(href="#").header__callback заказать звонок
