header.header
  .header__bar
    .header__wrapper
      .header__logo
         a(href="#")
           svg(width="122" height="22")
             use(xlink:href="#icon-logo")

      include ./nav

      address.header__address
        a(href="#").header__address-link
          p.header__address-city г. Санкт-Петербург
            svg(width="9" height="12")
              use(xlink:href="#icon-map")
          p.header__address-street Бехтерева 3, корп 3а

      .header__contacts
        a(href="tel:+79006221818").header__contacts-phone +7 (900)-622-18-18
          svg(width="12" height="12")
            use(xlink:href="#icon-phone")
        a(href="#").header__contacts-callback заказать звонок

  .header__content
    .header__content-wrapper.wrapper

      h1.header__content-title Сварочная мастерская Steel Balls
      p.header__content-description ЛОФТ ПЕРЕГОРОДКИ И&nbsp;МЕБЕЛЬ РУЧНОЙ РАБОТЫ

      .header__content-action
        a(href="#").header__content-action-link.t-link Посмотреть проекты
        a(href="#").header__content-action-link.s-link Оставить заявку
      include ./social
