header.header
  .header__bar
    .header__wrapper.wrapper
      .header__logo
         a(href="#")
           svg.icon__logo(width="122" height="22")
             use(xlink:href="#icon-logo")

      include ./nav

      address.header__address
        p.header__address-city г. Санкт-Петербург
        p.header__address-street Бехтерева 3, корп 3а

      .header__contacts
        a(href="tel:+79006221818").header__contacts-phone +7 (900)-622-18-18
        a(href="#").header__contacts-callback заказать звонок

  .header__content
    .header__content-wrapper.wrapper
      h1.header__content-title Сварочная мастерская Steel Balls
      p.header__content-description ЛОФТ ПЕРЕГОРОДКИ И&nbspМЕБЕЛЬ РУЧНОЙ РАБОТЫ

      a(href="#").header__content-link Посмотреть проекты
      a(href="#").header__content-link Оставить заявку

      // include social
