section.intro
  .intro__wrapper
    h1.intro__title Сварочная мастерская Steel Balls
    p.intro__description ЛОФТ ПЕРЕГОРОДКИ И&nbsp;МЕБЕЛЬ РУЧНОЙ РАБОТЫ

    .intro__action
      a(href="#").t-link.intro__action-link Посмотреть проекты
      a(href="#").s-link.intro__action-link.intro__action-link--order Оставить заявку
    include ./social
