.intro
  .intro__wrapper
    h1.intro__title Сварочная мастерская Steel Balls
    p.intro__description ЛОФТ ПЕРЕГОРОДКИ И&nbsp;МЕБЕЛЬ РУЧНОЙ РАБОТЫ

    .intro__action
      a(href="#").intro__action-link.t-link Посмотреть проекты
      a(href="#").intro__action-link.s-link Оставить заявку
    include ./social
