section.loft
  span.loft__path.path ГЛАВНАЯ/ЛОФТ ПЕРЕГОРОДКИ
  .loft__wrapper
    .loft__container
      h2.loft__title Современное решение для интерьера
      p.loft__description
        | Лофт перегородки являются современным решением
        | для разделения помещения, визуального увеличения пространства.

    include loft_blocks/loft-advantages
    include loft_blocks/loft-zoning
    include loft_blocks/loft-construction
    include loft_blocks/loft-materials
    include loft_blocks/loft-conditions
