.map
  .map__wrapper
    .map__content#map

    .map__footer

      a(href="tel:+79006221818").map__footer-link
        svg(width="20" height="20")
          use(xlink:href="#icon-phone")
        | +7 (900) 622-18-18

      a(href="mailto:stballs@mail.ru").map__footer-link
        svg(width="20" height="20")
          use(xlink:href="#icon-mail")
        | stballs@mail.ru
