.nav
  ul.nav__list
    li.nav__item
      a(href="partition.html").nav__link Лофт перегородки
    li.nav__item
      a(href="#").nav__link Horeca design
    li.nav__item
      a(href="contacts.html").nav__link Контакты
