.nav
  h2 navbar
  ul.nav__list
    li.nav__item
      a(href="#") link
    li.nav__item
      a(href="#") link
    li.nav__item
      a(href="#") link
    li.nav__item
      a(href="#") link
    li.nav__item
      a(href="#") link
    li.nav__item
      a(href="#") link
