section.projects
  .projects__wrapper
    h2.projects__title НАШИ ПРОЕКТЫ

    .grid
      .grid-sizer
      .gutter-sizer

      .grid-item.grid-item--left
        .grid-item__wrapper
          img(src="img/pr_1@1x.jpg")
          h3.projects__item-title Подставка для цветов
          p.projects__item-description Сиденье из сосны под маслом. Порошковая покраска стального каркаса

      .grid-item.grid-item--vertical
        .grid-item__wrapper
          img(src="img/pr_3@1x.jpg")
          h3.projects__item-title Подставка для цветов
          p.projects__item-description Сиденье из сосны под маслом. Порошковая покраска стального каркаса

      .grid-item.grid-item--left
        .grid-item__wrapper
          img(src="img/pr_2@1x.jpg")
          h3.projects__item-title Подставка для цветов
          p.projects__item-description Сиденье из сосны под маслом. Порошковая покраска стального каркаса

      .grid-item.grid-item--right
        .grid-item__wrapper
          img(src="img/pr_5@1x.jpg")
          h3.projects__item-title Стеллаж в нише
          p.projects__item-description Необычный цвет + масло для дополнительной защиты.

      .grid-item.grid-item--vertical
        .grid-item__wrapper
          img(src="img/pr_4@1x.jpg")
          h3.projects__item-title Стеллаж в нише
          p.projects__item-description Необычный цвет + масло для дополнительной защиты.

      .grid-item.grid-item--right
        .grid-item__wrapper
          img(src="img/pr_6@1x.jpg")
          h3.projects__item-title Стеллаж в нише
          p.projects__item-description Необычный цвет + масло для дополнительной защиты.

      .grid-item.grid-item--vertical
        .grid-item__wrapper
          img(src="img/pr_8@1x.jpg")
          h3.projects__item-title Стеллаж в нише
          p.projects__item-description Необычный цвет + масло для дополнительной защиты.

      .grid-item.grid-item--left
        .grid-item__wrapper
          img(src="img/pr_7@1x.jpg")
          h3.projects__item-title Стеллаж в нише
          p.projects__item-description Необычный цвет + масло для дополнительной защиты.

      .grid-item.grid-item--left
        .grid-item__wrapper
          img(src="img/pr_9@1x.jpg")
          h3.projects__item-title Стеллаж в нише
          p.projects__item-description Необычный цвет + масло для дополнительной защиты.
