.footer {
  display: flex;
  margin-top: auto;
  background-color: #1c1c1c;
  min-height: 220px;
  padding-top: 5.5rem;
  padding-bottom: 8.5rem;

  &__wrapper {
    @include container();
    display: flex;
    flex-wrap: wrap;
  }

  &__logo {
    margin-bottom: 1rem;
  }

  &__logo,
  &__contacts,
  &__address {
    margin-right: auto;
  }

  &__address,
  &__contacts,
  &__social {
    &-title {
      font-size: 1.5rem;
      line-height: 1.8rem;
      text-transform: uppercase;
      margin-bottom: 1.5rem;
      color: $color_white;
    }
  }

  &__copyrights {
    font-family: $font_secondary;
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: $color_white;
  }

  &__address {
    max-width: 150px;

    address {
      font-style: normal;
      font-family: $font-text;
      font-size: 1.4rem;
      line-height: 2.7rem;
      color: $color_white;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    max-width: 180px;

    &-link {
      position: relative;
      font-family: $font_text;

      font-size: 1.6rem;
      line-height: 2rem;
      color: $color_white;
      padding-left: 3rem;
      margin-bottom: 1rem;

      svg {
        position: absolute;
        top: 50%;
        left: 0;

        stroke: $color_white;
        fill: transparent;
        transform: translateY(-50%);

        path {
          stroke: $color_white;
        }
      }

      @media(min-width: $tablet-width) {
        &:hover,
        &:focus {
          @include transition(color);
          color: $color_beige;

          svg {
            @include transition(stroke);
            stroke: $color_beige;
          }
        }

        &:active{
          @include transition(opacity);
          opacity: 0.7;
        }
      }
    }
  }

  &__info {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    padding-bottom: 2.5rem;

    p {
      font-family: $font_secondary;
      font-size: 1.1rem;
      line-height: 1.5rem;
      color: $color_white;
    }
  }

  & .nav {
    display: flex;
    flex-grow: initial;
    margin-right: auto;

    &__list {
      display: flex;
      flex-direction: column;
    }

    &__item {
      margin-bottom: 1.15rem;
      margin-right: 1.5rem;
    }
  }

  &__developer {
    order: 10;
  }
}

@media(max-width: $desktop-width) {
  .footer {
    padding-top: 3rem;
    padding-bottom: 1rem;
    &__copyrights {
      font-size: 0.9rem;
      line-height: 1.1rem;
    }

    &__address,
    &__contacts {
      margin-bottom: 1rem;
    }

    &__address,
    &__contacts,
    &__social {
      &-title {
        font-size: 1.3rem;
        line-height: 1.6rem;
      }
    }

    &__contacts {

      &-link {
        font-size: 1.4rem;
        line-height: 1.9rem;
        padding-left: 0;

        svg {
          display: none;
        }
      }
    }

    &__address {
      address {
        font-size: 1.2rem;
        line-height: 1.9rem;
      }
    }

    &__social {
      width: 100%;
    }

    &__info {
      padding-top: 2rem;

      p {
        font-size: 1.2rem;
        line-height: 1.4rem;
      }
    }

    & .nav {
      &__list {
        justify-content: flex-start;
      }
      &__item {
        margin-bottom: 1.5rem;

        &--mobile {
          display: none;
        }
      }

      &__link {
        font-size: 1.5rem;
        line-height: 1.4rem;
      }
    }
  }
}

@media(max-width: $tablet-width) {
  .footer {
    padding-bottom: 2rem;

    &__wrapper {
      padding: 0 3rem;
      display: flex;
      flex-wrap: wrap;
    }

    &__logo,
    &__contacts,
    &__address {
      width: 50%;
      max-width: 50%;
    }

    &__address {
      margin-bottom: 1.5rem;
    }

    &__contacts {
      order: 3;
      margin-bottom: 4rem;
    }

    &__social {
      order: 4;
      padding-top: 0;
    }

    & .nav {
      order: 2;
      width: 50%;
      justify-content: flex-start;
    }

    &__info {
      order: 5;
      padding-top: 3rem;
      padding-bottom: 1rem;
    }
  }
}

@media(max-width: $mobile-width) {
  .footer {
    &__logo {
      margin-bottom: 1.5rem;
    }
    &__contacts,
    &__address,
    &__social {
      width: 100%;
      max-width: 100%;
    }
    &__wrapper {
      flex-direction: column;
    }

    &__contacts {
      order: 2;
      margin-bottom: 1.5rem;
    }

    &__address {
      order: 3;
    }

    .nav {
      width: 100%;
      margin-bottom: 1rem;
    }
  }
}
