.header {
  background-color: $color_black;
  width: 100%;
  z-index: 1000000;

  &__logo {
    margin-right: auto;
    width: 130px;
  }

  &__wrapper {
    @include container();
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 60px;
  }

  &__navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-grow: 1;
  }

  &__city {
    display: block;
    font-family: $font_secondary;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: $color_white;
  }

  &__callback {
    font-family: $font_secondary;
    font-style: normal;
    font-size: 1.6rem;
    line-height: 2rem;
    text-decoration-line: underline;
    text-transform: uppercase;
    margin-right: 3.5rem;

    color: $color_easy-beige;

    @media(min-width: $tablet-width) {

      &:hover,
      &:focus {
        @include transition(color);
        color: $color_white;
      }

      &:active {
        @include transition(opacity);
        opacity: 0.7;
      }
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;

    a {
      font-family: $font_secondary;
      color: $color_white;
    }

    &-phone {
      font-size: 1.4rem;
      line-height: 1.7rem;
      margin-right: 3.5rem;
      margin-bottom: 0.5rem;

      &:last-child {
        margin-bottom: 0;
      }

      @media(min-width: $tablet-width) {

        &:hover,
        &:focus {
          @include transition(color);
          color: $color_beige;
        }

        &:active {
          @include transition(opacity);
          opacity: 0.7;
        }
      }
    }
  }

  &__address {
    display: none;
  }
}
@media(max-width: $desktop-width) {
  .header {
    &__navbar {
      flex-grow: 0;
    }


    &__callback {
      font-size: 1.4rem;
      line-height: 1.7rem;

    }
  }
}

@media(max-width: $tablet-width) {
  .header {
    &__contacts {
      display: none;

      &-phone {
        max-width: 20rem;
      }
    }

    &__city {
      font-size: 1.2rem;
      line-height: 1.2rem;
    }

    &__callback {
      display: none;
      max-width: 20rem;
    }
  }
}

@keyframes menu {
  0% {
    transform: translateY(-30rem);
    padding-top: 0;
  }

  100% {
    transform: translateY(0);
    padding-top: 25%;
  }
}

@keyframes translateY {
  0% {
    transform: translateY(-50rem);
  }
  100% {
    transform: translateY(0);
  }
}
