.nav {
  flex-grow: 1;
  justify-content: center;
  display: flex;

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin-right: 3.5rem;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    position: relative;
    font-size: 1.6rem;
    line-height: 2rem;
    font-family: $font_secondary;
    color: $color_white;

    &::before {
      position: absolute;
      bottom: -0.5rem;
      left: 1rem;
      width: 0;
      height: 0.2rem;
      content: '';
      background-color: $color_beige;
    }

    @media(min-width: $tablet-width) {
      &:hover,
      &:focus {
        @include transition($css_rule: color);
        color: $color_beige;

        &::before {
          @include transition($css_rule: width);
          width: 100%;
        }
      }

      &:active {
        @include transition(opacity);
        opacity: 0.7;
      }
    }
  }
}

@media(max-width: $desktop-width) {
  .nav {
    display: none;
  }

  .nav.opened {
    display: flex;
    flex-direction: column;
    width: 100%;
    height:100%;
    min-height: 500px;
    background-color: black;


    .nav__item {
      min-height: 4.8rem;
    }
  }
}
