.nav {
  flex-grow: 1;
  justify-content: center;
  display: flex;

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin-right: 3.5rem;

    &:last-child {
      margin-right: 0;
    }

    &--mobile {
      display: none;
    }
  }

  &__link {
    position: relative;
    font-size: 1.6rem;
    line-height: 2rem;
    font-family: $font_secondary;
    color: $color_white;
    @include transition($css_rule: color);

    &::before {
      position: absolute;
      bottom: -0.5rem;
      left: 1rem;
      width: 0;
      height: 0.2rem;
      content: '';
      background-color: $color_beige;
      @include transition($css_rule: width);
    }

    @media(min-width: $tablet-width) {
      &:hover,
      &:focus {
        color: $color_beige;

        &::before {
          width: 100%;
        }
      }

      &:active {
        @include transition(opacity);
        opacity: 0.7;
      }
    }
  }
}

@media(max-width: $desktop-width) {
  .header {
    .nav {
      display: none;
      animation: menu_tablet 0.5s ease-in forwards;

      @keyframes menu_tablet {
        0% {
          border-radius: 0 0 0 100%;
          transform: translateY(-100vh) translateX(100vh);
        }

        75% {
          border-radius: 0 0 0 75%;
        }
        100% {
          border-radius: 0;
          transform: translateY(0) translateX(0);
        }
      }

      &.opened {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100vh;
        background-color: black;
      }

      &__list {
        flex-direction: column;
        justify-content: center;
      }

      &__item {
        margin-bottom: 1.5rem;

        &--mobile {
          display: block;
        }

        address {
          font-family: $font_secondary;
          font-style: normal;
          font-size: 1.4rem;
          line-height: 1.7rem;
          color: $color_white;
        }
      }

      &__link {
        &--phone,
        &--callback {
          font-family: $font_secondary;
          font-size: 1.4rem;
          line-height: 1.7rem;
          text-transform: uppercase;
          color: $color_white;
        }

        &--callback {
          color: $color_easy-beige;
        }
      }
    }
  }
}

@media(max-width: $tablet-width) {
  .header {
    .nav {
      animation: menu_mobile 0.5s ease-in forwards;

        @keyframes menu_mobile {
          0% {
            transform: translateY(100vh);
          }
          100% {
            transform: translateY(0);
          }
        }
    }
  }
}
