.social {
  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin-right: 2rem;

    &:last-child {
      margin-bottom: 0;
    }

    svg {
      fill: $fill_svg;

      @media(min-width: $tablet-width) {
        @include onHoverAnimationSvg($color_beige);
      }
    }
  }
}
