.loft-order
  .loft-order__wrapper
    h3.loft-order__title Порядок работы

    ul.loft-order__list
      li.loft-order__item
        span 01
        p.loft-order__item-description Выясняем у вас тип перегородки, расстекловку и другие подробности, делаем предварительный расчёт

      li.loft-order__item
        span 02
        p.loft-order__item-description Выезжаем на замер с лазерным измерителем длины и уровнем.
      li.loft-order__item
        span 03
        p.loft-order__item-description Составляем договор и проект перегородки в АвтоКаде.
      li.loft-order__item
        span 04
        p.loft-order__item-description Вы вносите аванс и мы приступаем к производству.
      li.loft-order__item
        span 05
        p.loft-order__item-description Доставляем и монтируем перегородку.

    a.loft-order__link.m-link(href="#") Отправить проект
