.loft-advantages
  .loft-advantages__wrapper
    h3.loft-advantages__title Преимущества:
    ul.loft-advantages__list
      li.loft-advantages__item Пропускают естественный свет
      li.loft-advantages__item Разделяют помещение на несколько отдельных зон
      li.loft-advantages__item Подходят для любого интерьера
      li.loft-advantages__item Задерживают запахи и влагу
