.loft-materials
  .loft-materials__wrapper
    .loft-materials__content
      h3.loft-materials__title Материалы
      p.loft-materials__description
        | При изготовлении перегородок мы используем стальной профиль различного
        | сечения и&nbsp;каленое&nbsp;стекло, которое может быть прозрачным, тонированным
        | или матовым. Стекло&nbsp;полностью безопасно.
    picture
      source(type="image/webp" srcset="img/lqip/static/loft-materials@1x.jpg" data-srcset="img/static/loft-materials@1x.webp 1x, img/static/loft-materials@2x.webp 2x")
      img.loft-materials__img.lazyload.blur-up(src="img/lqip/static/loft-materials@1x.jpg" data-src="img/static/loft-materials@1x.jpg" data-srcset="img/static/loft-materials@2x.jpg 2x" alt="Работа над изготовлением перегородки")
