.loft-conditions
  .loft-conditions__wrapper
    h3.loft-conditions__title Сделаем проект с Вами

    .loft-conditions__content
      ul.loft-conditions__list
        li.loft-conditions__item
          span Определимся с видом перегородки и материалами
        li.loft-conditions__item
          span Снимем замеры
        li.loft-conditions__item
          span Составим договор
        li.loft-conditions__item
          span Установим или отправим почтой
      .loft-conditions__pricing
        p.loft-conditions__price Стоимость
          span от 13 500р./м.кв.
        p.loft-conditions__time Сроки
          span 10-15 рабочих дней
