.loft-materials
  .loft-materials__wrapper
    .loft-materials__content
      h3.loft-materials__title Материалы
      p.loft-materials__description При изготовлении перегородок, мы используем стальной профиль 15х15мм, 20х40мм и 40х40мм.

      p.loft-materials__description При нестандартных задачах подбираем подходящий профиль под проект.

      p.loft-materials__description Используем каленое стекло. Прозрачное, графит, бронзу или матовое. Оно полностью безопасно.

    picture
      source(type="image/webp" srcset="img/lqip/static/loft-materials@1x.jpg" data-srcset="img/static/loft-materials@1x.webp 1x, img/static/loft-materials@2x.webp 2x")
      img.loft-materials__img.lazyload.blur-up(src="img/lqip/static/loft-materials@1x.jpg" data-src="img/static/loft-materials@1x.jpg" data-srcset="img/static/loft-materials@2x.jpg 2x" alt="Работа над изготовлением перегородки")
