.loft-construction
  .loft-construction__wrapper
    h3.loft-construction__title Варианты конструкций перегородок:
    p.loft-construction__description В зависимости от задачи мы выбирем один из вариантов

    ul.loft-construction__list
      li.loft-construction__item
        span Гармошкой
      li.loft-construction__item
        span Статичная
      li.loft-construction__item
        span С распашными дверями
      li.loft-construction__item
        span С раздвижными дверями
