.modal.modal-cost.closed
  .modal__wrapper.modal-cost__wrapper
    button(type="button" aria-label="Кнопка закрытия модального окна").modal__close
      svg(width="36" height="36")
        use(xlink:href="#icon-close")
    h2.modal__title Рассчитаем стоимость Вашего проекта
    p.modal__description Заполните форму и мы свяжемся с Вами в ближайшее время.

    include ../blocks/forms/cost-modal
