.modal.modal-project.closed
  .modal__wrapper.modal-project__wrapper
    button(type="button" aria-label="Кнопка закрытия модального окна").modal__close
      svg(width="36" height="36")
        use(xlink:href="#icon-close")
    h2.modal__title У Вас уже есть проект?
    p.modal__description Заполните форму и мы свяжемся с вами в ближайшее время.

    include ../blocks/forms/project-modal
