.modal.modal-success.closed
  .modal__wrapper.modal-success__wrapper
    button(type="button" aria-label="Кнопка закрытия модального окна").modal__close
      svg(width="36" height="36")
        use(xlink:href="#icon-close")
    p(tabindex="0").modal-success__text Спасибо за вашу заявку!
    p(tabindex="0").modal-success__text Мы вам перезвоним в ближайшее время!
    p(tabindex="0").modal-success__additional Подписывайтесь на наши соц. сети:

    include ../blocks/common_blocks/social
