.advantages {
  padding: 10rem 0;

  &__wrapper {
    @include container();
  }

  &__title {
    max-width: 750px;
    margin-bottom: 4.5rem;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 6rem;
  }

  &__list {
    width: 50%;
  }

  &__item {
    span {
      font-family: $font_secondary;
      font-size: 6.4rem;
      line-height: 8.9rem;
      color: $color_beige;
    }

    width: 180px;

    &-projects {
      display: flex;
      justify-content: flex-start;

      &-icon {
        display: block;

        &--count {
          width: 120px;
        }

        &--plus {
          width: 40px;
          text-align: center;
        }
      }
    }
  }

  &__description {
    font-family: $font_text;
    font-size: 2.4rem;
    line-height: 4.3rem;
    text-transform: lowercase;

    color: $color_secondary-black;
  }

  &__blockquote {
    width: calc(50% - 80px);
    max-width: 500px;

    &-text {
      font-family: $font_text;
      font-size: 1.8rem;
      line-height: 3.2rem;
      margin-bottom: 9rem;

      color: $color_secondary-black;
    }

    &-author {
      font-family: $font_secondary;
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 2.2rem;
      color: $color_black;

      &-description {
        font-family: $font_text;
        font-style: italic;
        font-size: 1.8rem;
        line-height: 2.2rem;
        color: $color_black;
      }
    }
  }
}
