.contacts {
  padding-bottom: 30rem;

  &__path {
    margin-bottom: 10rem;
  }

  &__wrapper {
    @include container();
    display: flex;
    flex-wrap: wrap;
  }

  &__content {
    margin-right: auto;
    max-width: 425px;
  }

  &__map {
    width: 600px;
  }

  &__description {
    font-family: $font_secondary;
    font-size: 1.8rem;
    line-height: 2.8rem;
    margin-bottom: 6.5rem;
    color: $color_black;
  }
}
