.footer {
  display: flex;
  margin-top: auto; // чтобы прибить футер к низу
  background-color: $color_footer-bcg;
  min-height: 220px;
  padding-top: 5.5rem;
  padding-bottom: 8.5rem;

  &__wrapper {
    @include container();
    display: flex;
    flex-wrap: wrap;
  }

  &__logo {
    margin-bottom: 1rem;
  }

  &__logo,
  &__contacts,
  &__address {
    margin-right: auto;
  }

  &__address,
  &__contacts,
  &__social {
    &-title {
      font-size: 1.5rem;
      line-height: 1.8rem;
      text-transform: uppercase;
      margin-bottom: 1.5rem;
      color: $color_white;
    }
  }

  &__copyrights {
    font-family: $font_secondary;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
  }

  &__address {
    max-width: 150px;

    address {
      font-style: normal;
      font-family: $font-text;
      font-size: 1.4rem;
      line-height: 2.7rem;
      color: $color_white;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    max-width: 180px;

    &-link {
      position: relative;
      font-family: $font_text;

      font-size: 1.6rem;
      line-height: 2rem;
      color: $color_white;
      padding-left: 3rem;
      margin-bottom: 1rem;

      svg {
        position: absolute;
        top: 50%;
        left: 0;

        stroke: $color_white;
        fill: transparent;
        transform: translateY(-50%);

        path {
          stroke: $color_white;
        }
      }

      @media(min-width: $tablet-width) {
        &:hover,
        &:focus {
          @include transition(color);
          color: $color_beige;

          svg {
            @include transition(stroke);
            stroke: $color_beige;
          }
        }

        &:active{
          @include transition(opacity);
          opacity: 0.7;
        }
      }
    }
  }

  &__info {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    padding-bottom: 2.5rem;
    p {
      max-width: 620px;
      font-family: $font_secondary;
      font-size: 1.1rem;
      line-height: 1.5rem;
      color: $color_white;
    }

  }

  & .nav {
    display: flex;
    flex-grow: initial;
    margin-right: auto;

    &__list {
      display: flex;
      flex-direction: column;
    }

    &__item {
      margin-bottom: 1.15rem;
    }
  }
}
