.footer {
  display: flex;
  margin-top: auto; // чтобы прибить футер к низу
  background-color: $color_footer-bcg;
  min-height: 220px;
  padding-top: 5.5rem;
  padding-bottom: 8.5rem;

  &__wrapper {
    @include container();
    display: flex;
    flex-wrap: wrap;
  }

  &__logo,
  &__contacts,
  &__address {
    margin-right: auto;
  }

  &__copyrights {
    font-family: $font_secondary;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
  }

  &__block-title {
    font-size: 1.5rem;
    line-height: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    color: $color_white;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    max-width: 180px;

    &-link {
      position: relative;
      font-family: $font_text;

      font-size: 1.6rem;
      line-height: 2rem;
      color: $color_white;
      padding-left: 3rem;
      margin-bottom: 1rem;

      svg {
        position: absolute;
        top: 50%;
        left: 0;

        fill: transparent;
        transform: translateY(-50%);

        path {
          stroke: $color_white;
        }
      }

      @media(min-width: $tablet-width) {
        &:hover,
        &:focus {
          @include transition(color);
          color: $color_beige;
        }

        &:active{
          @include transition(opacity);
          opacity: 0.7;
        }
      }
    }
  }

  &__address {
    font-style: normal;

    &-link {
      display: block;

      &-city,
      &-street {
        display: block;
        font-family: $font_text;
        color: $color_white;
      }

      &-street {
        font-size: 1.6rem;
        line-height: 2rem;
      }

      &-city {
        font-size: 1.8rem;
        line-height: 2.2rem;
        margin-bottom: 1rem;
      }

      @media(min-width: $tablet-width) {
        &:hover span,
        &:focus span {
          @include transition(color);
          color: $color_beige;
        }

        &:active span {
          @include transition(opacity);
          opacity: 0.7;
        }
      }
    }
  }
}
