.header {

  &__bar {
    display: flex;
    background-color: $color_black;
  }

  &__wrapper {
    @include container();
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 60px;
  }

  &__address {
    position: relative;
    margin-right: 6rem;

    svg {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }

    &-link {
      display: flex;
      flex-direction: column;
      font-family: $font_secondary;
      font-style: normal;
      color: $color_white;

      transition: color 0.3s 0.1s ease-in;
    }

    &-city {
      font-size: 1.4rem;
      line-height: 1.7rem;
      padding-left: 3.5rem;
      margin-bottom: 0.5rem;
    }

    &-street {
      //font-size: 1.2rem;
      //line-height: 1.5rem;
      font-size: 1.4rem;
      line-height: 1.7rem;
      padding-left: 3.5rem;
    }

    @media(min-width: $tablet-width) {
      &-link:hover,
      &-link:focus {
        span {
          @include transition(color);
          color: $color_beige;
        }
      }

      &-link:active {
        span {
          @include transition(opacity);
          opacity: 0.7;
        }
      }
    }
  }

  &__contacts {
    position: relative;
    display: flex;
    flex-direction: column;

    svg {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }

    a {
      font-family: $font_secondary;
      color: $color_white;
    }

    &-phone {
      font-size: 1.4rem;
      line-height: 1.7rem;
      padding-left: 3.5rem;
      margin-bottom: 0.5rem;

      &:last-child {
        margin-bottom: 0;
      }

      @media(min-width: $tablet-width) {
        &:hover,
        &:focus {
          @include transition(color);
          color: $color_beige;
        }

        &:active {
          @include transition(opacity);
          opacity: 0.7;
        }
      }
    }

    &-callback {
      font-size: 1.2rem;
      line-height: 1.5rem;
      text-decoration: underline;
    }
  }


  &__content {
    padding-top: 19rem;
    min-height: 825px;
    background-image: url("../img/static/header-background@1x.jpg");
    background-size: cover;
    background-position: center;

    &-title {
      font-family: $font_secondary;
      font-weight: 500;
      font-size: 2rem;
      line-height: 2.5rem;
      letter-spacing: 0.05em;
      margin-bottom: 2rem;
      color: $color_white;
    }

    &-description {
      max-width: 800px;
      font-weight: normal;
      font-size: 4.8rem;
      line-height: 6rem;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      margin-bottom: 5rem;
      color: $color_white;
    }

    &-action {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 19rem;

      &-link {
        margin-right: 5.5rem;
      }
    }
  }
}
