.header {

  &__bar {
    display: flex;
    background-color: $color_black;
  }

  &__wrapper {
    @include container();
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 60px;
  }

  &__city {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    svg {
      margin-right: 0.5rem;
    }
    span {
      font-family: $font_secondary;
      font-size: 1.6rem;
      line-height: 2rem;
      color: $color_white;
    }
  }

  &__callback {
    font-family: $font_secondary;
    font-style: normal;
    font-size: 1.6rem;
    line-height: 2rem;
    text-decoration-line: underline;
    text-transform: uppercase;

    color: $color_beige;

    @media(min-width: $tablet-width) {
      &:hover,
      &:focus {
        @include transition(color);
        color: $color_white;
      }

      &:active {
        @include transition(opacity);
        opacity: 0.7;
      }
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;

    a {
      font-family: $font_secondary;
      color: $color_white;
    }

    &-phone {
      font-size: 1.4rem;
      line-height: 1.7rem;
      margin-right: 3.5rem;
      margin-bottom: 0.5rem;

      &:last-child {
        margin-bottom: 0;
      }

      @media(min-width: $tablet-width) {
        &:hover,
        &:focus {
          @include transition(color);
          color: $color_beige;
        }

        &:active {
          @include transition(opacity);
          opacity: 0.7;
        }
      }
    }
  }


  &__content {
    padding-top: 19rem;
    min-height: 825px;
    background-color: $header_background;
    background-size: cover;
    background-position: center;

    &-title {
      font-family: $font_secondary;
      font-weight: 500;
      font-size: 2rem;
      line-height: 2.5rem;
      letter-spacing: 0.05em;
      margin-bottom: 2rem;
      color: $color_white;
    }

    &-description {
      max-width: 800px;
      font-weight: normal;
      font-size: 4.8rem;
      line-height: 6rem;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      margin-bottom: 5rem;
      color: $color_white;
    }

    &-action {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 19rem;

      &-link {
        margin-right: 5.5rem;
      }
    }
  }
}

.webp .header__content {
  background-image: url("../img/static/header-background@1x.webp");

  @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
    background-image: url("../img/static/header-background@2x.webp");
  }
}

.no-webp .header__content {
  background-image: url("../img/static/header-background@1x.jpg");

  @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
    background-image: url("../img/static/header-background@2x.jpg");
  }
}
