.header {

  &__wrapper {
    @include container();
    display: flex;
    flex-wrap: wrap;
    align-items :center;
    min-height: 60px;
    padding-top: 1.6rem;
  }

  &__bar {
    background-color: $color_black;
  }

  &__address {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: $font_secondary;
    font-style: normal;
    color: $color_white;
    padding-left: 1.4rem;
    margin-right: 6rem;

    &::before {
      position: absolute;
      top: 0.2rem;
      left: 0;
      width: 9px;
      height: 12px;
      content: '';
      background-image: url("../img/icons/icon-map.svg");
    }

    &-city {
      font-size: 1.4rem;
      line-height: 1.7rem;
    }

    &-street {
      font-size: 1.2rem;
      line-height: 1.5rem;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;

    a {
      font-family: $font_secondary;
      color: $color_white;
    }

    &-phone {
      position: relative;
      font-size: 1.4rem;
      line-height: 1.7rem;
      padding-left: 1.8rem;

      &::before {
        position: absolute;
        top: 2px;
        left: 0;
        width: 12px;
        height: 12px;
        content: '';
        background-image: url("../img/icons/icon-phone.svg");
      }
    }

    &-callback {
      font-size: 1.2rem;
      line-height: 1.5rem;
      text-decoration: underline;
    }
  }


  &__content {
    padding-top: 19rem;
    min-height: 825px;
    background-image: url("../img/static/header-background@1x.jpg");
    background-size: cover;
    background-position: center;

    &-title {
      font-family: $font_secondary;
      font-weight: 500;
      font-size: 2rem;
      line-height: 2.5rem;
      letter-spacing: 0.05em;
      margin-bottom: 2rem;
      color: $color_white;
    }

    &-description {
      max-width: 800px;
      font-weight: normal;
      font-size: 4.8rem;
      line-height: 6rem;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      margin-bottom: 5rem;
      color: $color_white;
    }

    &-action {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 19rem;

      &-link {
        color: $color_white;

        font-family: $font_secondary;
        font-size: 1.6rem;
        line-height: 2.9rem;
        margin-right: 5.5rem;

        &--projects {
          width: 225px;
          padding: 0.9rem 1rem;
          text-align: center;
          border: 2px solid $color_white;
          background-color: transparent;
        }

        &--order {
          width: 225px;
          padding: 0.9rem 1rem;
          text-align: center;
          border: 2px solid transparent;
          background-color: $main_link;
        }
      }
    }
  }
}
