body {
  min-height: 100vh;
}

.header {
  position: sticky;
  top: 0;

  &__wrapper {
    background-color: $color_black;
  }

  &__logo {
    margin-right: auto;
  }

  &__content {
    @include container();
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 60px;
  }

  &__city {
    display: block;
    font-family: $font_secondary;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: $color_white;
  }

  &__callback {
    font-family: $font_secondary;
    font-style: normal;
    font-size: 1.6rem;
    line-height: 2rem;
    text-decoration-line: underline;
    text-transform: uppercase;

    color: $color_beige;

    @media(min-width: $tablet-width) {

      &:hover,
      &:focus {
        @include transition(color);
        color: $color_white;
      }

      &:active {
        @include transition(opacity);
        opacity: 0.7;
      }
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;

    a {
      font-family: $font_secondary;
      color: $color_white;
    }

    &-phone {
      font-size: 1.4rem;
      line-height: 1.7rem;
      margin-right: 3.5rem;
      margin-bottom: 0.5rem;

      &:last-child {
        margin-bottom: 0;
      }

      @media(min-width: $tablet-width) {

        &:hover,
        &:focus {
          @include transition(color);
          color: $color_beige;
        }

        &:active {
          @include transition(opacity);
          opacity: 0.7;
        }
      }
    }
  }
}
@media(max-width: $desktop-width) {
  .header {
    &__content {
      position: relative;
    }
    &__callback {
      font-size: 1.4rem;
      line-height: 1.7rem;
    }
  }
}
@media(max-width: $tablet-width) {
  .header {


    &__contacts {
      display: none;
    }

    &__city {
      font-size: 1rem;
      line-height: 1.2rem;
    }

    &__callback {
      display: none;
    }
  }
}
