.intro {
  padding-top: 19rem;
  min-height: 825px;
  background-color: $header_background;
  background-size: cover;
  background-position: center;

  &__wrapper {
    @include container();
  }

  &__title {
    font-family: $font_secondary;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: 0.05em;
    margin-bottom: 2rem;
    color: $color_white;
  }

  /*&__description {
    max-width: 800px;
    font-weight: normal;
    font-size: 4.8rem;
    line-height: 6rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 5rem;
    color: $color_white;
  }*/

  &__description {
    margin-bottom: 5rem;

    path {
      stroke-width: 2px;
      stroke: $color_white;
    }

    path.start-animation {
      animation: svg_animation 2s 0.5s ease-out forwards;
    }
  }

  &__description2 {
    margin-bottom: 5rem;

    path {
      stroke-width: 2px;
      stroke: $color_white;
    }

    path.start-animation2 {
      animation: svg_animation2 2s 0.5s ease-out forwards;
    }
  }



  @keyframes svg_animation {

    95% {
      stroke-dashoffset: 0;
      fill: transparent;
    }

    100% {
      stroke-dashoffset: 0;
      //fill: $color_white;
    }
  }

  @keyframes svg_animation2 {

    95% {
      stroke-dashoffset: 0;
      fill: transparent;
    }

    100% {
      stroke-dashoffset: 0;
      fill: $color_white;
    }
  }

  &__action {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 19rem;

    &-link {
      margin-right: 5.5rem;
    }
  }
}

.webp .intro {
  background-image: url("../img/static/header-background@1x.webp");

  @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
    background-image: url("../img/static/header-background@2x.webp");
  }
}

.no-webp .intro {
  background-image: url("../img/static/header-background@1x.jpg");

  @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
    background-image: url("../img/static/header-background@2x.jpg");
  }
}
