.intro {
  padding-top: 19rem;
  min-height: 825px;
  background-color: $header_background;
  background-size: cover;
  background-position: center;

  &__wrapper {
    @include container();
  }

  &__title {
    font-family: $font_secondary;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: 0.05em;
    margin-bottom: 2rem;
    color: $color_white;
  }

  &__description {
    max-width: 735px;
    font-size: 4.8rem;
    line-height: 6rem;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-bottom: 5rem;
    color: $color_white;
    transform: translateY(50px);
    transition: transform 2s ease;
  }

  .intro__description.animated {
    transform: translateY(0);
  }

  span {
    opacity: 0;
    transition: opacity 1s ease, color 1s 0.4s ease;
    color:$color_beige ;
  }

  span.animated {
    color: $color_white;
    opacity: 1;
  }

  &__action {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 19rem;

    &-link {
      text-transform: uppercase;
      margin-right: 5.5rem;
    }
  }
}

.webp .intro {
  background-image: url("../img/static/header-background@1x.webp");

  @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
    background-image: url("../img/static/header-background@2x.webp");
  }
}

.no-webp .intro {
  background-image: url("../img/static/header-background@1x.jpg");

  @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
    background-image: url("../img/static/header-background@2x.jpg");
  }
}

@media(max-width: $desktop-width) {
  .intro {
    padding-top: 16rem;
    &__title {
      font-size: 1.6rem;
      line-height: 2rem
    }

    &__description {
      max-width: 450px;
      font-size: 3rem;
      line-height: 4.2rem;
      margin-bottom: 3.5rem;
    }
  }

  @media(max-width: $tablet-width) {
    .intro {
      &__description {
        transform: translateY(0);
      }
    }
  }

  /*.webp .intro {
    background-image: url("../img/static/header-background_tablet@1x.webp");

    @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
      background-image: url("../img/static/header-background_tablet@2x.webp");
    }
  }

  .no-webp .intro {
    background-image: url("../img/static/header-background_tablet@1x.jpg");

    @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
      background-image: url("../img/static/header-background_tablet@2x.jpg");
    }
  }*/
}

@media(max-width: $tablet-width) {
  .intro {
    padding-top: 14rem;
    &__title {
      font-size: 1.2rem;
      line-height: 1.5rem
    }

    &__description {
      max-width: 290px;
      font-size: 1.9rem;
      line-height: 2.7rem;
      margin-bottom: 2.5rem;
    }

    &__action {
      margin-bottom: 16rem;
      &-link {
        margin-right: 1rem;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  /*.webp .intro {
    background-image: url("../img/static/header-background_mobile@1x.webp");

    @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
      background-image: url("../img/static/header-background_mobile@2x.webp");
    }
  }

  .no-webp .intro {
    background-image: url("../img/static/header-background_mobile@1x.jpg");

    @media (min-resolution: $retina-dppx) and (min-resolution: $retina-dpi) {
      background-image: url("../img/static/header-background_mobile@2x.jpg");
    }
  }*/
}
