.loft {
  padding-bottom: 10rem;

  /*&__path {
    margin-bottom: 4rem;
  }*/

  &__container {
    @include container();
  }

  &__title {
    font-size: 3.6rem;
    line-height: 5rem;
    max-width: 54rem;
    margin-bottom: 2rem;
  }

  &__description {
    font-family: $font_secondary;
    font-size: 2rem;
    line-height: 3.1rem;
    max-width: 74rem;
    margin-bottom: 5rem;
    color: $color_black;
  }

  h3 {
    font-size: 2.2rem;
    line-height: 2.9rem;
    text-transform: uppercase;
    color: $color_black;
  }
}

@media(max-width: $desktop-width) {
  .loft {
    &__title {
      font-size: 2.4rem;
      line-height: 3.4rem;
      max-width: 35rem;
      margin-bottom: 1.5rem;
    }

    &__description {
      font-size: 1.6rem;
      line-height: 2rem;
      max-width: 60rem;
      margin-bottom: 3rem;
    }
  }
}

@media(max-width: $tablet-width) {
  .loft {
    &__title {
      font-size: 2.2rem;
      line-height: 2.4rem;
      max-width: 30rem;
      padding-right: 0;
      margin-bottom: 1.5rem;
    }

    &__description {
      font-size: 1.4rem;
      line-height: 1.6rem;
      max-width: 50rem;
      margin-bottom: 2.5rem;
    }
  }
}
