.nav {
  flex-grow: 1;
  justify-content: center;
  display: flex;

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin-right: 3.5rem;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    font-size: 1.6rem;
    line-height: 2rem;
    font-family: $font_secondary;
    color: $color_white;
  }
}
