.partnership {
  padding-top: 8.5rem;
  padding-bottom: 10rem;

  &__wrapper {
    @include container();
    display: flex;
    flex-wrap: wrap;
  }

  &__content,
  &__slider {
    width: calc(50% - 2rem);
  }

  &__content {
    margin-right: 4rem;
  }

  &__slider {
    padding-top: 6rem;
  }

  &__title {
    margin-bottom: 3rem;
  }

  &__description {
    max-width: 480px;
    font-family: $font_text;
    font-size: 2rem;
    line-height: 3.6rem;
    margin-bottom: 5rem;

    color: $color_black;
  }

  &__offer,
  &__mail {
    font-family: $font_secondary;
    font-size: 2rem;
    line-height: 3.6rem;

    color: $color_black;
  }

  &__mail {
    a {
      font-family: $font_secondary;
      font-size: 2rem;
      line-height: 3.6rem;

      color: $color_beige;


      @media(min-width: $tablet-width) {
        &:hover ,
        &:focus {
          @include transition(color);
          color: $color_black;
        }

        &:active{
          @include transition(opacity);
          opacity: 0.7;
        }
      }
    }
  }
}

@media(max-width: $desktop-width) {
  .partnership {
    padding-top: 7rem;
    padding-bottom: 1.5rem;

    &__title {
      margin-bottom: 2rem;
    }

    &__description {
      font-size: 1.4rem;
      line-height: 2.5rem;
    }

    &__offer,
    &__mail {
      font-weight: 600;
      font-size: 1.4rem;
      line-height: 2.5rem;
    }

    &__mail {
      a {
        font-size: 1.4rem;
        line-height: 2.5rem;
      }
    }
  }
}

@media(max-width: $tablet-width) {
  .partnership {
    padding-top: 5rem;
    padding-bottom: 0.5rem;

    &__wrapper {
      flex-direction: column;
    }

    &__title {
      margin-bottom: 1rem;
    }

    &__slider,
    &__content {
      width: 100%;
    }

    &__slider {
      padding-top: 0;
    }

    &__description {
      font-size: 1.2rem;
      line-height: 2rem;
      margin-bottom: 1rem;
    }

    &__offer,
    &__mail {
      font-size: 1.2rem;
      line-height: 1.6rem;
    }

    &__mail {
      margin-bottom: 1.5rem;
      a {
        font-size: 1.2rem;
        line-height: 1.6rem;
      }
    }
  }
}
