.partition {
  padding-top: 10rem;
  padding-bottom: 3rem;

  &__wrapper {
    @include container();
    display: flex;
    flex-direction: column;
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5.5rem;
  }

  &__title {
    margin-right: auto;
  }

  &__advantages-item {
    font-family: $font_secondary;
    font-size: 1.4rem;
    line-height: 2.3rem;
    color: $color_black;

    span {
      font-family: $font_secondary;
      font-size: 2rem;
      line-height: 2.4rem;
      margin-right: 1.5rem;
      color: $color_beige;
    }


    &:first-child {
      span {
        margin-right: 1.9rem;
      }
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 6rem;
  }

  &__item {
    width: 32%;
    margin-right: 2%;

    &:last-child {
      margin-right: 0;
    }

    picture {
      max-width: 100%;
      max-height: 445px;
    }

    &-description {
      font-family: $font_secondary;
      font-size: 2rem;
      line-height: 3.2rem;
      text-align: center;
      color: $color_black;
    }
  }

  &__link {
    align-self: flex-end;
  }
}
