.projects {
  padding-top: 6rem;
  padding-bottom: 10rem;
  &__wrapper {
    @include container();
  }

  &__title {
    margin-bottom: 7rem;
  }

  &__item {
    &-title {
      font-family: $font_secondary;
      font-size: 1.8rem;
      line-height: 2.2rem;
      margin-bottom: 1.5rem;
      color: $color_secondary-black;
    }

    &-description {
      font-family: $font_text;
      font-size: 1.5rem;
      line-height: 2rem;
      margin-bottom: 4rem;

      color: #3C3531;
    }

    picture {
      margin-bottom: 2.5rem;
    }
  }
}
