.part_types {
  padding-top: 5rem;
  padding-bottom: 10rem;
  &__wrapper {
    @include container();
  }

  &__title {
    @include partitions_h2();
    margin-bottom: 1rem;
  }

  &__description {
    font-family: $font_text;
    font-size: 2rem;
    line-height: 3.1rem;
    margin-bottom: 3rem;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item {
    display: flex;
    align-items: flex-start;
    width: 25%;

    span {
      font-family: $font_text;
      font-size: 1.8rem;
      line-height: 2.4rem;
    }
  }

  &__img {
    width: initial;
    height: initial;
    object-fit: contain;
    margin-bottom: 1.5rem;
  }
}
@media(max-width: $desktop-width) {
  .part_types {
    padding-top: 3rem;
    padding-bottom: 6rem;

    &__description {
      font-size: 1.6rem;
      line-height: 2.4rem;
    }

    &__item {
      span {
        font-size: 1.6rem;
        line-height: 1.8rem;
      }
    }

    &__img {
      height: 11.5rem;

      &--static {
        width: 11rem;
      }

      &--slide {
        width: 7.8rem;
      }

      &--swing {
        width: 9rem;
      }

      &--accordeon {
        width: 12.5rem;
      }
    }
  }
}
@media(max-width: $tablet-width) {
  .part_types {
    padding-bottom: 2rem;

    &__description {
      font-size: 1.4rem;
      line-height: 2rem;
    }

    &__item {
      width: 50%;
      margin-bottom: 4rem;

      span {
        font-family: $font_secondary;
        font-size: 1.4rem;
        line-height: 1.6rem;
      }
    }

    &__img {
      height: 10rem;

      &--static {
        width: 7.5;
      }

      &--slide {
        width: 10rem;
      }

      &--swing {
        width: 9.6rem;
      }

      &--accordeon {
        width: 9.3rem;
      }
    }
  }
}
