.partitions-advantages {
  padding-bottom: 5.5rem;

  &__wrapper {
    @include container();
  }

  &__title {
    margin-bottom: 1.5rem;
    @include inner_h2();
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  &__item {
    position: relative;
    font-family: $font_text;
    font-size: 1.8rem;
    line-height: 2.9rem;
    width: 50%;
    padding-left: 2.6rem;
    padding-right: 0.5rem;
    margin-bottom: 1.5rem;

    &::before {
      position: absolute;
      top: 0.8rem;
      left: 0;
      content: '';
      width: 1.4rem;
      height: 1rem;
      background-color: $color_beige;
    }
  }
}

@media(max-width: $desktop-width) {
  .partitions-advantages {
    &__item {
      font-size: 1.6rem;
      line-height: 2.3rem;
      padding-left: 1.5rem;

      &::before {
        width: 0.8rem;
        height: 0.6rem;
      }
    }
  }
}

@media(max-width: $tablet-width) {
  .partitions-advantages {
    &__item {
      font-size: 1.4rem;
      line-height: 1.8rem;
      padding-left: 1rem;

      &::before {
        width: 0.5rem;
        height: 0.5rem;
      }
    }
  }
}

@media(max-width: $mobile-width) {
  .partitions-advantages {
    &__item {
      width: 100%;
    }
  }
}
