.partitions-materials {
  padding: 5rem 0;
  background-color: $color_grey;

  &__wrapper {
    @include container();
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__title {
    @include inner_h2();
    margin-bottom: 3rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: calc(50% - 2rem);
    margin-right: 2rem;
  }

  &__description {
    font-family: $font_text;
    font-size: 2rem;
    line-height: 3rem;
    max-width: 53rem;
    margin-bottom: 4rem;
    color: $color_black;

    &:last-child {
      margin-bottom: 0;
    }
  }

  picture {
    width: 50%;
    max-width: 47.3rem;
    max-height: 37.8rem;
  }

  &__img {
    object-fit: contain;
  }
}

@media(max-width: $desktop-width) {
  .partitions-materials {
    padding: 4rem 0;

    &__description {
      font-size: 1.6rem;
      line-height: 2rem;
    }
  }
}

@media(max-width: $tablet-width) {
  .partitions-materials {
    &__wrapper {
      flex-direction: column;
      align-items: flex-start;
    }

    &__title {
      margin-bottom: 1rem;
    }

    &__content {
      width: 100%;
    }

    picture {
      width: 100%;
      max-width: 473px;
      max-height: 368px;
    }

    &__description {
      font-size: 1.4rem;
      line-height: 1.6rem;
      margin-bottom: 2rem;

      &:last-child {
        margin-bottom: 3rem;
      }
    }
  }
}
