.partitions-intro {
  padding-bottom: 5rem;

  &__wrapper {
    @include container();
  }

  &__title {
    @include inner_h1();
    max-width: 54rem;
    margin-bottom: 2rem;
  }

  &__description {
    font-family: $font_secondary;
    font-size: 2rem;
    line-height: 3.1rem;
    max-width: 74rem;
    color: $color_black;
  }
}

@media(max-width: $desktop-width) {
  .partitions-intro {
    padding-bottom: 3rem;
    &__title {
      max-width: 35rem;
      margin-bottom: 1.5rem;
    }

    &__description {
      font-size: 1.6rem;
      line-height: 2rem;
      max-width: 60rem;
    }
  }
}

@media(max-width: $tablet-width) {
  .partitions-intro {
    padding-bottom: 2.5rem;
    &__title {
      max-width: 30rem;
      margin-bottom: 1.5rem;
    }

    &__description {
      font-size: 1.4rem;
      line-height: 1.6rem;
      max-width: 50rem;
    }
  }
}
