section.intro
  .intro__wrapper
    h1.intro__title Сварочная мастерская Steel&nbsp;Balls
      span.visually-hidden Лофт перегородки и мебель ручной работы

    p(aria-hidden="true").intro__description Лофт перегородки и мебель ручной работы

    .intro__action
      a(href="#" data-id="modal-cost").modal-link.s-link.intro__action-link.intro__action-link--cost ЗАПРОСИТЬ СТОИМОСТЬ
    include ../common_blocks/social
