section.intro
  .intro__wrapper
    h1.intro__title Сварочная мастерская Steel&nbsp;Balls

    //include ./intro_components/svgTitle

    p.intro__description(aria-label="Лофт перегородки и мебель ручной работы") Лофт перегородки и мебель ручной работы

    .intro__action
      a(href="#").t-link.intro__action-link Посмотреть проекты
      a(href="#").s-link.intro__action-link.intro__action-link--cost ЗАПРОСИТЬ СТОИМОСТЬ
    include ../common_blocks/social
