section.order
  .order__wrapper
    h2.order__title принимаем заказы <br/>
      span.order__description на изготовление любых металлоконструкций с деревом

    ul.order__list
      li.order__item
        svg.order__item-icon.order__item-icon--door(width="35" height="27")
          use(xlink:href="#icon-door")
        .order__item-description
          h3.order__item-title Перегородки и двери лофт
          p.order__item-text (статичные, распашные, раздвижные)

      li.order__item
        svg.order__item-icon.order__item-icon--chair(width="25" height="50")
          use(xlink:href="#icon-chair")
        .order__item-description
          h3.order__item-title Мебель для кафе, ресторанов
          p.order__item-text (барные стойки, гостевые столы, стулья, станции&nbsp;официанта, кассовые линии)

      li.order__item
        svg.order__item-icon.order__item-icon--office(width="36" height="32")
          use(xlink:href="#icon-office")
        .order__item-description
          h3.order__item-title Мебель лофт в офисы и опенспейсы
          p.order__item-text (столы рабочие, тумбы, стеллажи)

      li.order__item
        svg.order__item-icon.order__item-icon--home(width="36" height="36")
          use(xlink:href="#icon-home")
        .order__item-description
          h3.order__item-title Мебель для дома
          p.order__item-text (обеденные, рабочие и журнальные столы, шкафы,&nbsp;комоды, гардеробы, прихожие)

      li.order__item
        svg.order__item-icon.order__item-icon--table(width="34" height="20")
          use(xlink:href="#icon-table")
        .order__item-description
          h3.order__item-title Металлокаркасы
          p.order__item-text (опоры, подстолья, рамы)

    a(href="#" data-id="modal-discuss").modal-link.order__link.s-link Обсудить проект
