.loader
  .loader__wrapper
    svg(width="122" height="15")
      use(xlink:href="#icon-logo")
    .lds-ellipsis
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      </div></div>
