.advantages__swiper-container {
  position: relative;
  width: 100%;
  height: 475px;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  padding: 0 2rem;

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    transition: height 0.5s 0.1s ease-out;

    &-prev {
      width: 490px;
      height: 375px;
    }

    &-active {
      width: 570px;
      height: 475px;
    }

    &-next {
      width: 400px;
      height: 300px;
    }
  }

  .a-swiper-pagination {
    display: none;
  }

  .a-swiper-button-next,
  .a-swiper-button-prev {
    position: absolute;
    bottom: 10rem;
    right: 15.5%;
    width: 1.5rem;
    height: 2.4rem;
    content: '';
    cursor: pointer;
    background-image: url("../img/static/slider-arrow.svg");
    background-repeat: no-repeat;
    z-index: 100;
  }

  .a-swiper-button-next {
    right: 7.5%;
    transform: rotate(180deg);
  }

  .swiper-button-disabled {
    cursor: default;
    opacity: 0.5;
  }
}

@media(max-width: $desktop-width) {
  .advantages__swiper-container {
    height: 455px;
    padding-bottom: 3rem;
    .a-swiper-button-next,
    .a-swiper-button-prev {
      display: none;
    }

    .swiper-slide {
      height: inherit;
    }

    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
    }

    .a-swiper-pagination {
      display: block;
      position: absolute;
      bottom: 0;
      margin: 0 auto;
    }

    .swiper-pagination-bullet-active {
      background-color: $color_beige;
    }

    .swiper-pagination-bullet-active-prev,
    .swiper-pagination-bullet-active-next {
      opacity: 0.7;
      background-color: $color_beige;
    }

    .swiper-pagination-bullet-active-prev-prev,
    .swiper-pagination-bullet-active-next-nex {
      opacity: 0.5;
      background-color: $color_beige;
    }

    .swiper-pagination-bullet-active {
      background-color: $color_beige;
    }
  }
}

@media(max-width: 1140px) {
  .advantages__swiper-container {
    height: 420px;
    .a-swiper-button-next,
    .a-swiper-button-prev {
      display: none;
    }
  }
}

@media(max-width: 960px) {
  .advantages__swiper-container {
    height: 355px;
    .a-swiper-button-next,
    .a-swiper-button-prev {
      display: none;
    }

    .swiper-slide {
      height: inherit;
    }
  }
}

@media(max-width: $tablet-width) {
.advantages__swiper-container {
    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
    }

    .advantages__swiper-container {
      height: 270px;
    }
  }
}
